<a href="https://colab.research.google.com/github/JakeOh/202511_BD53/blob/main/lab_python/da02_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

# Series

*   한가지 타입의 값 여러개를 저장하는 1차원 모양의 데이터 타입(클래스)
*   축(axis) 레이블을 가지고 있는 1차원 배열(ndarray)
    *    정수 기반의 인덱스와 축 레이블을 함께 가질 수 있음.

In [2]:
s = pd.Series([1, 2, -3, -4, 5])

In [4]:
print(type(s))

<class 'pandas.core.series.Series'>

In [5]:
print(s)

0    1
1    2
2   -3
3   -4
4    5
dtype: int64

In [6]:
s

0    1
1    2
2   -3
3   -4
4    5
dtype: int64

In [7]:
s.index  # Series 객체의 index 속성

RangeIndex(start=0, stop=5, step=1)

In [8]:
s.values  # Series 객체의 values 속성

array([ 1,  2, -3, -4,  5])

## indexing, slicing

*   `iloc`: ndarray에서 자동으로 부여되는 정수 인덱스 기반으로 원소를 참조.
    *   list 또는 ndarray에서 사용하는 방법과 같음.
    *   마지막 원소부터 역순으로 자동 부여되는 음수 인덱스 사용이 가능.
*   `loc`: 축 레이블을 기반으로 원소를 참조.
    *   음수 인덱스 사용이 불가능.

In [9]:
s.iloc[0]  # 시리즈의 첫번째 원소

np.int64(1)

In [10]:
s.iloc[-1]  # 시리즈의 마지막 원소

np.int64(5)

In [11]:
s.iloc[:2]  # 시리즈에서 첫 2개 원소 잘라내기

0    1
1    2
dtype: int64

In [12]:
s.iloc[-2:]  # 시리즈에서 마지막 2개 원소 잘라내기

3   -4
4    5
dtype: int64

In [13]:
s.iloc[3:5]

3   -4
4    5
dtype: int64

In [14]:
s.loc[0]

np.int64(1)

In [15]:
s.loc[4]

np.int64(5)

In [16]:
s.loc[-1]  # list나 ndarray처럼 끝에서부터 역순으로 부여되는 음수 인덱스는 없음.

KeyError: -1

In [17]:
s.loc[0:2]

0    1
1    2
2   -3
dtype: int64

In [19]:
s.loc[3:4]

3   -4
4    5
dtype: int64