<a href="https://colab.research.google.com/github/JakeOh/202511_BD53/blob/main/lab_python/da02_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

# Series

*   한가지 타입의 값 여러개를 저장하는 1차원 모양의 데이터 타입(클래스)
*   축(axis) 레이블을 가지고 있는 1차원 배열(ndarray)
    *    정수 기반의 인덱스와 축 레이블을 함께 가질 수 있음.

In [2]:
s = pd.Series([1, 2, -3, -4, 5])

In [4]:
print(type(s))

<class 'pandas.core.series.Series'>

In [5]:
print(s)

0    1
1    2
2   -3
3   -4
4    5
dtype: int64

In [6]:
s

0    1
1    2
2   -3
3   -4
4    5
dtype: int64

In [7]:
s.index  # Series 객체의 index 속성

RangeIndex(start=0, stop=5, step=1)

In [8]:
s.values  # Series 객체의 values 속성

array([ 1,  2, -3, -4,  5])

## indexing, slicing

*   `iloc`: ndarray에서 자동으로 부여되는 정수 인덱스 기반으로 원소를 참조.
    *   list 또는 ndarray에서 사용하는 방법과 같음.
    *   마지막 원소부터 역순으로 자동 부여되는 음수 인덱스 사용이 가능.
*   `loc`: 축 레이블을 기반으로 원소를 참조.
    *   음수 인덱스 사용이 불가능.

In [9]:
s.iloc[0]  # 시리즈의 첫번째 원소

np.int64(1)

In [10]:
s.iloc[-1]  # 시리즈의 마지막 원소

np.int64(5)

In [11]:
s.iloc[:2]  # 시리즈에서 첫 2개 원소 잘라내기

0    1
1    2
dtype: int64

In [12]:
s.iloc[-2:]  # 시리즈에서 마지막 2개 원소 잘라내기

3   -4
4    5
dtype: int64

In [13]:
s.iloc[3:5]

3   -4
4    5
dtype: int64

In [14]:
s.loc[0]

np.int64(1)

In [15]:
s.loc[4]

np.int64(5)

In [16]:
s.loc[-1]  # list나 ndarray처럼 끝에서부터 역순으로 부여되는 음수 인덱스는 없음.

KeyError: -1

In [17]:
s.loc[0:2]

0    1
1    2
2   -3
dtype: int64

In [19]:
s.loc[3:4]

3   -4
4    5
dtype: int64

In [20]:
s = pd.Series(data=[1, 2, -3, -4, 5], index=['a', 'b', 'x', 'y', 'z'])

In [21]:
s

a    1
b    2
x   -3
y   -4
z    5
dtype: int64

In [22]:
s.index

Index(['a', 'b', 'x', 'y', 'z'], dtype='object')

In [23]:
s.values

array([ 1,  2, -3, -4,  5])

In [24]:
s.iloc[0]

np.int64(1)

In [25]:
s.iloc[-1]

np.int64(5)

In [27]:
s.iloc[:2]

a    1
b    2
dtype: int64

In [28]:
s.iloc[-2:]

y   -4
z    5
dtype: int64

In [30]:
s.loc['a']

np.int64(1)

In [31]:
s.loc['z']

np.int64(5)

In [32]:
s.loc['a':'b']

a    1
b    2
dtype: int64

## fancy indexing

iloc와 loc에서 모두 사용이 가능.

In [33]:
s

a    1
b    2
x   -3
y   -4
z    5
dtype: int64

In [35]:
s.loc[['a', 'z']]

a    1
z    5
dtype: int64

In [36]:
s.iloc[[0, 4]]

a    1
z    5
dtype: int64

## boolean indexing

loc만 사용 가능, iloc는 사용 불가.

In [38]:
s.loc[[True, True, False, False, True]]

a    1
b    2
z    5
dtype: int64

In [39]:
s > 0  # element-wise(원소별) 연산 수행.

a     True
b     True
x    False
y    False
z     True
dtype: bool

In [40]:
s.loc[s > 0]

a    1
b    2
z    5
dtype: int64

In [41]:
s.loc[s < 0]

x   -3
y   -4
dtype: int64

# DataFrame

*   테이블 모양의 2차원 데이터 타입.
    *   행(row)과 열(column)을 가지고 있는 데이터 타입

In [42]:
data = {
    'city': ['서울'] * 3 + ['경기도'] * 3,
    'year': [2022, 2023, 2024] * 2,
    'pop': [0.89, 0.91, 0.92, 1.1, 1.2, 1.15]
}
data

{'city': ['서울', '서울', '서울', '경기도', '경기도', '경기도'],
 'year': [2022, 2023, 2024, 2022, 2023, 2024],
 'pop': [0.89, 0.91, 0.92, 1.1, 1.2, 1.15]}

In [43]:
df = pd.DataFrame(data)

In [44]:
print(df)

  city  year   pop
0   서울  2022  0.89
1   서울  2023  0.91
2   서울  2024  0.92
3  경기도  2022  1.10
4  경기도  2023  1.20
5  경기도  2024  1.15

In [45]:
df

  city  year   pop
0   서울  2022  0.89
1   서울  2023  0.91
2   서울  2024  0.92
3  경기도  2022  1.10
4  경기도  2023  1.20
5  경기도  2024  1.15

## DataFrame의 속성들

In [46]:
print('shape:', df.shape)  # shape: (row 개수, column 개수)

shape: (6, 3)

In [47]:
print('index:', df.index)  # index: 행 레이블(row label)

index: RangeIndex(start=0, stop=6, step=1)

In [48]:
print('columns:', df.columns)  # columns: 컬럼 레이블(column label)

columns: Index(['city', 'year', 'pop'], dtype='object')

In [49]:
print(df.values)  # values: 데이터프레임의 값들로만 만들어진 2차원 ndarray

[['서울' 2022 0.89]
 ['서울' 2023 0.91]
 ['서울' 2024 0.92]
 ['경기도' 2022 1.1]
 ['경기도' 2023 1.2]
 ['경기도' 2024 1.15]]

## DataFrame에서 column 선택하는 방법

*   `data_frame['column_name']`
    *   항상 사용 가능.
*   `data_frame.column_name`
    *   컬럼 이름이 변수 이름 규칙에 맞지 않는 경우에는 사용할 수 없음.
        *   변수 이름은 영문자, 숫자, _(underscore)만 사용 가능.
        *   변수 이름은 숫자로 시작할 수 없음.
        *   파이썬 키워드(if, for, while, def, class, ...)들은 변수 이름으로 사용할 수 없음.
    *   컬럼 이름이 DataFrame 클래스의 속성 또는 메서드 이름과 같은 경우에는 사용할 수 없음.

In [51]:
df['city']

0     서울
1     서울
2     서울
3    경기도
4    경기도
5    경기도
Name: city, dtype: object

In [52]:
df.city

0     서울
1     서울
2     서울
3    경기도
4    경기도
5    경기도
Name: city, dtype: object

In [54]:
df['pop']

0    0.89
1    0.91
2    0.92
3    1.10
4    1.20
5    1.15
Name: pop, dtype: float64

In [55]:
df.pop  # DataFrame에서 정의된 pop 메서드 객체.

<bound method DataFrame.pop of   city  year   pop
0   서울  2022  0.89
1   서울  2023  0.91
2   서울  2024  0.92
3  경기도  2022  1.10
4  경기도  2023  1.20
5  경기도  2024  1.15>

In [58]:
# 2개 이상의 컬럼을 함께 선택
df[['city', 'pop']]

  city   pop
0   서울  0.89
1   서울  0.91
2   서울  0.92
3  경기도  1.10
4  경기도  1.20
5  경기도  1.15

In [60]:
df[['year', 'city', 'pop']]

   year city   pop
0  2022   서울  0.89
1  2023   서울  0.91
2  2024   서울  0.92
3  2022  경기도  1.10
4  2023  경기도  1.20
5  2024  경기도  1.15

## DataFrame에서 row 선택 방법

*   `data_frame.iloc[idx]`: 배열(ndarray)의 정수 인덱스를 사용해서 행을 선택.
*   `data_frame.loc[idx]`: DataFrame의 index 속성(row label)을 사용해서 행을 선택.

In [61]:
df

  city  year   pop
0   서울  2022  0.89
1   서울  2023  0.91
2   서울  2024  0.92
3  경기도  2022  1.10
4  경기도  2023  1.20
5  경기도  2024  1.15

In [62]:
df.iloc[0]

city      서울
year    2022
pop     0.89
Name: 0, dtype: object

In [63]:
df.iloc[-1]

city     경기도
year    2024
pop     1.15
Name: 5, dtype: object

In [65]:
# df.loc[-1]  #> 에러
df.loc[5]

city     경기도
year    2024
pop     1.15
Name: 5, dtype: object