<a href="https://colab.research.google.com/github/JakeOh/202511_BD53/blob/main/lab_python/da09_str.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 문자열 컬럼 다루기

# 모듈 임포트

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# gapminder 데이터셋

In [2]:
gapminder_path = 'https://github.com/JakeOh/202511_BD53/raw/refs/heads/main/datasets/gapminder.tsv'

In [3]:
gapminder = pd.read_csv(gapminder_path, sep='\t')

In [4]:
gapminder.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

대한민국 자료 검색

In [6]:
gapminder[gapminder.country == 'Korea']

Empty DataFrame
Columns: [country, continent, year, lifeExp, pop, gdpPercap]
Index: []

In [9]:
gapminder.country.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
       'Australia', 'Austria', 'Bahrain', 'Bangladesh', 'Belgium',
       'Benin', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Czech Republic',
       'Denmark', 'Djibouti', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Ethiopia',
       'Finland', 'France', 'Gabon', 'Gambia', 'Germany', 'Ghana',
       'Greece', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Haiti',
       'Honduras', 'Hong Kong, China', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kenya', 'Korea, Dem. Rep.',
       'Korea, Rep.', 'Kuwait', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Mauritania',
       'Mauritius', 'Mexico', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman',
       'Pakistan', 'Panama', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Reunion', 'Romania', 'Rwanda',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Sierra Leone', 'Singapore', 'Slovak Republic', 'Slovenia',
       'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan',
       'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tanzania', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Uganda', 'United Kingdom', 'United States', 'Uruguay',
       'Venezuela', 'Vietnam', 'West Bank and Gaza', 'Yemen, Rep.',
       'Zambia', 'Zimbabwe'], dtype=object)

In [14]:
'Korea, Rep.'.lower()  # str 클래스의 lower() 메서드 사용

'korea, rep.'

In [20]:
# country 컬럼의 모든 문자열을 대문자로 변경.

# for c in gapminder.country:
#     print(c.upper())

gapminder.country.str.upper()

0       AFGHANISTAN
1       AFGHANISTAN
2       AFGHANISTAN
3       AFGHANISTAN
4       AFGHANISTAN
           ...
1699       ZIMBABWE
1700       ZIMBABWE
1701       ZIMBABWE
1702       ZIMBABWE
1703       ZIMBABWE
Name: country, Length: 1704, dtype: object

In [21]:
# country 컬럼이 'Kor'을 포함하는 지 여부(True/False)
gapminder.country.str.contains('Kor')

0       False
1       False
2       False
3       False
4       False
        ...
1699    False
1700    False
1701    False
1702    False
1703    False
Name: country, Length: 1704, dtype: bool

In [22]:
gapminder[gapminder.country.str.contains('Kor')]

              country continent  year  lifeExp       pop     gdpPercap
828  Korea, Dem. Rep.      Asia  1952   50.056   8865488   1088.277758
829  Korea, Dem. Rep.      Asia  1957   54.081   9411381   1571.134655
830  Korea, Dem. Rep.      Asia  1962   56.656  10917494   1621.693598
831  Korea, Dem. Rep.      Asia  1967   59.942  12617009   2143.540609
832  Korea, Dem. Rep.      Asia  1972   63.983  14781241   3701.621503
833  Korea, Dem. Rep.      Asia  1977   67.159  16325320   4106.301249
834  Korea, Dem. Rep.      Asia  1982   69.100  17647518   4106.525293
835  Korea, Dem. Rep.      Asia  1987   70.647  19067554   4106.492315
836  Korea, Dem. Rep.      Asia  1992   69.978  20711375   3726.063507
837  Korea, Dem. Rep.      Asia  1997   67.727  21585105   1690.756814
838  Korea, Dem. Rep.      Asia  2002   66.662  22215365   1646.758151
839  Korea, Dem. Rep.      Asia  2007   67.297  23301725   1593.065480
840       Korea, Rep.      Asia  1952   47.453  20947571   1030.592226
841       Korea, Rep.      Asia  1957   52.681  22611552   1487.593537
842       Korea, Rep.      Asia  1962   55.292  26420307   1536.344387
843       Korea, Rep.      Asia  1967   57.716  30131000   2029.228142
844       Korea, Rep.      Asia  1972   62.612  33505000   3030.876650
845       Korea, Rep.      Asia  1977   64.766  36436000   4657.221020
846       Korea, Rep.      Asia  1982   67.123  39326000   5622.942464
847       Korea, Rep.      Asia  1987   69.810  41622000   8533.088805
848       Korea, Rep.      Asia  1992   72.244  43805450  12104.278720
849       Korea, Rep.      Asia  1997   74.647  46173816  15993.527960
850       Korea, Rep.      Asia  2002   77.045  47969150  19233.988180
851       Korea, Rep.      Asia  2007   78.623  49044790  23348.139730

In [29]:
gapminder[gapminder.country.str.lower().str.contains('kor')]

              country continent  year  lifeExp       pop     gdpPercap
828  Korea, Dem. Rep.      Asia  1952   50.056   8865488   1088.277758
829  Korea, Dem. Rep.      Asia  1957   54.081   9411381   1571.134655
830  Korea, Dem. Rep.      Asia  1962   56.656  10917494   1621.693598
831  Korea, Dem. Rep.      Asia  1967   59.942  12617009   2143.540609
832  Korea, Dem. Rep.      Asia  1972   63.983  14781241   3701.621503
833  Korea, Dem. Rep.      Asia  1977   67.159  16325320   4106.301249
834  Korea, Dem. Rep.      Asia  1982   69.100  17647518   4106.525293
835  Korea, Dem. Rep.      Asia  1987   70.647  19067554   4106.492315
836  Korea, Dem. Rep.      Asia  1992   69.978  20711375   3726.063507
837  Korea, Dem. Rep.      Asia  1997   67.727  21585105   1690.756814
838  Korea, Dem. Rep.      Asia  2002   66.662  22215365   1646.758151
839  Korea, Dem. Rep.      Asia  2007   67.297  23301725   1593.065480
840       Korea, Rep.      Asia  1952   47.453  20947571   1030.592226
841       Korea, Rep.      Asia  1957   52.681  22611552   1487.593537
842       Korea, Rep.      Asia  1962   55.292  26420307   1536.344387
843       Korea, Rep.      Asia  1967   57.716  30131000   2029.228142
844       Korea, Rep.      Asia  1972   62.612  33505000   3030.876650
845       Korea, Rep.      Asia  1977   64.766  36436000   4657.221020
846       Korea, Rep.      Asia  1982   67.123  39326000   5622.942464
847       Korea, Rep.      Asia  1987   69.810  41622000   8533.088805
848       Korea, Rep.      Asia  1992   72.244  43805450  12104.278720
849       Korea, Rep.      Asia  1997   74.647  46173816  15993.527960
850       Korea, Rep.      Asia  2002   77.045  47969150  19233.988180
851       Korea, Rep.      Asia  2007   78.623  49044790  23348.139730

In [33]:
gapminder.country.str.lower().str.contains('kor')

0       False
1       False
2       False
3       False
4       False
        ...
1699    False
1700    False
1701    False
1702    False
1703    False
Name: country, Length: 1704, dtype: bool