<a href="https://colab.research.google.com/github/JakeOh/202511_BD53/blob/main/lab_python/da11_index.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

# Series 인덱스

## 단일 계층 인덱스

In [4]:
s = pd.Series(data=np.random.rand(5), name='rand_num')
#> Series 객체도 (데이터프레임의 컬럼처럼) 값들의 이름을 설정할 수 있음.
s

0    0.260308
1    0.595741
2    0.284199
3    0.050026
4    0.695215
Name: rand_num, dtype: float64

In [5]:
s.index  #> Series 객체가 가지고 있는 index 속성

RangeIndex(start=0, stop=5, step=1)

In [6]:
s.values  #> Series 객체가 가지고 있는 values 속성 -> 값들을 아이템으로 갖는 1차원 ndarray(배열)

array([0.26030777, 0.59574085, 0.28419931, 0.05002602, 0.6952153 ])

In [16]:
s = pd.Series(data=np.random.randint(100, size=5), name='score',
              index=['scott', 'allen', 'king', '홍길동', '오쌤'])
s

scott    75
allen    32
king     96
홍길동      89
오쌤       68
Name: score, dtype: int64

In [17]:
s.index

Index(['scott', 'allen', 'king', '홍길동', '오쌤'], dtype='object')

In [18]:
s.values

array([75, 32, 96, 89, 68])

In [23]:
s.index.nlevels  # 인덱스의 레벨(계층) 개수

1