<a href="https://colab.research.google.com/github/JakeOh/202511_BD53/blob/main/lab_python/da16_category.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Categorical Data 다루기

In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.DataFrame(data={
    'user_id': np.arange(1, 11),
    'gender': ['M'] * 5 + ['F'] * 5,
    'score': np.random.randint(1, 6, size=10)
})

In [5]:
df

   user_id gender  score
0        1      M      2
1        2      M      4
2        3      M      2
3        4      M      2
4        5      M      2
5        6      F      5
6        7      F      4
7        8      F      3
8        9      F      2
9       10      F      3

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  10 non-null     int64
 1   gender   10 non-null     object
 2   score    10 non-null     int64
dtypes: int64(2), object(1)
memory usage: 372.0+ bytes

In [7]:
# gender 컬럼을 문자열 타입에서 카테고리 타입으로 변환.
df.gender = df.gender.astype('category')

In [8]:
df

   user_id gender  score
0        1      M      2
1        2      M      4
2        3      M      2
3        4      M      2
4        5      M      2
5        6      F      5
6        7      F      4
7        8      F      3
8        9      F      2
9       10      F      3

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  10 non-null     int64
 1   gender   10 non-null     category
 2   score    10 non-null     int64
dtypes: category(1), int64(2)
memory usage: 426.0 bytes

In [10]:
# Categorical Accessor(카테고리 접근자)
df.gender.cat.categories

Index(['F', 'M'], dtype='object')

# 연속형 변수에서 파생된 카테고리 변수 만들기

In [11]:
df = pd.DataFrame(data={
    'id': np.arange(1, 11),
    'age': np.random.randint(100, size=10)
})

In [12]:
df

   id  age
0   1   37
1   2   62
2   3   37
3   4   20
4   5   43
5   6   28
6   7   70
7   8   49
8   9   68
9  10    8

In [17]:
# age 컬럼의 값을 이용해서 연령대 파생변수를 추가.
df['age_range'] = pd.cut(x=df.age, bins=np.arange(0, 110, 10), right=False)

In [18]:
df

   id  age age_range
0   1   37  [30, 40)
1   2   62  [60, 70)
2   3   37  [30, 40)
3   4   20  [20, 30)
4   5   43  [40, 50)
5   6   28  [20, 30)
6   7   70  [70, 80)
7   8   49  [40, 50)
8   9   68  [60, 70)
9  10    8   [0, 10)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         10 non-null     int64
 1   age        10 non-null     int64
 2   age_range  10 non-null     category
dtypes: category(1), int64(2)
memory usage: 762.0 bytes

In [20]:
df.age_range.cat.categories

IntervalIndex([  [0, 10),  [10, 20),  [20, 30),  [30, 40),  [40, 50),
                [50, 60),  [60, 70),  [70, 80),  [80, 90), [90, 100)],
              dtype='interval[int64, left]')

In [21]:
# age 컬럼의 값을 사용한 파생변수
df['age_cat'] = pd.cut(x=df.age, bins=[0, 19, 45, 60, 100], right=False,
                       labels=['미성년', '청년', '장년', '노년'])

In [22]:
df

   id  age age_range age_cat
0   1   37  [30, 40)      청년
1   2   62  [60, 70)      노년
2   3   37  [30, 40)      청년
3   4   20  [20, 30)      청년
4   5   43  [40, 50)      청년
5   6   28  [20, 30)      청년
6   7   70  [70, 80)      노년
7   8   49  [40, 50)      장년
8   9   68  [60, 70)      노년
9  10    8   [0, 10)     미성년

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         10 non-null     int64
 1   age        10 non-null     int64
 2   age_range  10 non-null     category
 3   age_cat    10 non-null     category
dtypes: category(2), int64(2)
memory usage: 976.0 bytes

In [24]:
df.age_cat.cat.categories

Index(['미성년', '청년', '장년', '노년'], dtype='object')