<a href="https://colab.research.google.com/github/JakeOh/202511_BD53/blob/main/lab_python/python05_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# for 반복문

```
for 변수 in iterable_type:
    반복해서 실행할 코드 블록
```

*   iterable_type: 반복(iteration)이 가능한 데이터 타입.
    *   str, range, list, tuple, dict, ...
*   for 반복문은 iterable type에서 아이템들을 순서대로 하나씩 꺼내서 변수에 저장하고 코드 블록 실행.
*   for 반복문은 iterable type에서 더이상 꺼낼 아이템을 없을 때 종료됨.

In [1]:
for s in '안녕하세요':
    print(s)

안
녕
하
세
요

# for 반복문과 `range()` 함수

In [2]:
# range(start, end): start가 end보다 작은 경우, [start, end) 범위의 1씩 증가하는 정수들을 만듦.
for x in range(1, 6):
    print(x)

1
2
3
4
5

In [3]:
# range(end): [0, end) 범위의 1씩 증가하는 정수들을 만듦.
for x in range(6):
    print(x)

0
1
2
3
4
5

In [4]:
# range(start, end, step): start가 end보다 작고 step은 양의 정수인 경우,
# [start, end) 범위의 step 만큼씩 증가하는 정수들을 만듦.
for x in range(0, 10, 2):
    print(x)

0
2
4
6
8

In [5]:
for x in range(1, 10, 2):
    print(x)

1
3
5
7
9

In [6]:
# range(start, end, step): start가 end보다 크고 step은 음의 정수인 경우,
# start >= x > end 인 범위의 step 만큼씩 감소하는 정수들을 만듦.
for x in range(5, 0, -1):
    print(x)

5
4
3
2
1

In [7]:
for x in range(1, 6):
    print('*' * x)

*
**
***
****
*****

In [8]:
for x in range(5, 0, -1):
    print('*' * x)

*****
****
***
**
*

# break vs continue

*   `break`: iteration을 멈춤.
*   `continue`: 그 다음 iteration을 수행.

In [10]:
for x in range(5):
    if x == 2:
        break
    print(x)

0
1

In [11]:
for x in range(5):
    if x == 2:
        continue
    print(x)

0
1
3
4

for-in 반복문과 range() 함수를 사용해서 구구단 2단은 2x2까지, 3단은 3x3까지, ..., 9단은 9x9까지 출력.

In [14]:
for x in range(2, 10):
    print(f'=== {x} 단 ===')
    for y in range(1, 10):
        print(f'{x} x {y} = {x * y}')
        if x == y:
            break  # for y in range() 반복을 멈춤.

=== 2 단 ===
2 x 1 = 2
2 x 2 = 4
=== 3 단 ===
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
=== 4 단 ===
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
=== 5 단 ===
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
=== 6 단 ===
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
=== 7 단 ===
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
=== 8 단 ===
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
=== 9 단 ===
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [16]:
for x in range(2, 10):
    print(f'=== {x} 단 ===')
    for y in range(1, x + 1):
        print(f'{x} x {y} = {x * y}')

=== 2 단 ===
2 x 1 = 2
2 x 2 = 4
=== 3 단 ===
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
=== 4 단 ===
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
=== 5 단 ===
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
=== 6 단 ===
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
=== 7 단 ===
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
=== 8 단 ===
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
=== 9 단 ===
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

# `print()` 함수

*   탈출 문자열(escape string):
    *   `'\n'`: 줄바꿈(new line)
    *   `'\t'`: 탭(tab)
    *   `'\''`: 작은따옴표. 문자열 안에 인용부호를 포함하고 싶을 때 사용.
*   `print()` 함수의 파라미터(parameter)
    *   `end`: print 함수가 아규먼트들을 출력한 후 마지막에 어떤 문자열을 추가할 것인 지를 설정. 기본값은 줄바꿈(`\n`).
    *   `sep`: separator(구분자). print 함수가 아규먼트들을 출력할 때, 각각의 아규먼트들을 구분하기 위한 문자열을 설정. 기본값이 공백(' ') 1개.

In [17]:
print('I\'m a boy.')

I'm a boy.

In [18]:
print('안녕하세요.')
print('월요일 아침입니다.')

안녕하세요.
월요일 아침입니다.

In [20]:
print('안녕하세요.', end='::')
print('월요일 아침입니다.')
print('Hello!')

안녕하세요.::월요일 아침입니다.
Hello!

In [21]:
print('안녕', 'Hello')

안녕 Hello

In [22]:
print('안녕', 'Hello', sep=',')

안녕,Hello