<a href="https://colab.research.google.com/github/JakeOh/202511_BD53/blob/main/lab_python/python13_oop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 객체지향 프로그래밍 배경

In [5]:
students = [
    {'id': 1, 'name': '홍길동', 'korean': 100, 'english': 80, 'math': 95},
    {'id': 2, 'name': '오쌤', 'korean': 50, 'english': 78, 'math': 40},
    {'id': 3, 'name': 'Scott', 'korean': 70, 'english': 100, 'math': 88}
]

In [6]:
# 번호, 이름, 총점, 평균 출력
for s in students:
    total = s['korean'] + s['english'] + s['math']
    mean = total / 3
    print(f'번호={s['id']}, 이름={s['name']}, 총점={total}, 평균={mean}')

번호=1, 이름=홍길동, 총점=275, 평균=91.66666666666667
번호=2, 이름=오쌤, 총점=168, 평균=56.0
번호=3, 이름=Scott, 총점=258, 평균=86.0

위 코드의 문제점은 dict의 키는 중복되지 않게만 만들면 되기 때문에, 각각의 학생 객체들이 모두 같은 키들을 갖는다는 보장은 없음. 반복문에서 총점과 평균을 계산하는 코드가 제대로 동작하지 않을 수도 있음.

# 함수형 프로그래밍(Functional Programming)

In [7]:
def create_student(id, name, kor, eng, math):
    student = {
        'id': id,
        'name': name,
        'korean': kor,
        'english': eng,
        'math': math
    }

    return student

In [8]:
students = [
    create_student(1, '홍길동', 100, 90, 95),
    create_student(2, '오쌤', 90, 50, 80),
    create_student(3, 'Scott', 80, 100, 95)
]

In [10]:
students

[{'id': 1, 'name': '홍길동', 'korean': 100, 'english': 90, 'math': 95},
 {'id': 2, 'name': '오쌤', 'korean': 90, 'english': 50, 'math': 80},
 {'id': 3, 'name': 'Scott', 'korean': 80, 'english': 100, 'math': 95}]

In [11]:
# 아규먼트 student가 create_student() 함수에 의해서 만들어진 dict일 때 세 과목의 총점을 리턴.
def get_total(student):
    return student['korean'] + student['english'] + student['math']

In [12]:
# 아규먼트 student가 create_student() 함수에 의해서 만들어진 dict일 때 세 과목의 평균을 리턴.
def get_mean(student):
    return get_total(student) / 3

In [13]:
for s in students:
    total = get_total(s)
    mean = get_mean(s)
    print(f'번호={s['id']}, 이름={s['name']}, 총점={total}, 평균={mean}')

번호=1, 이름=홍길동, 총점=285, 평균=95.0
번호=2, 이름=오쌤, 총점=220, 평균=73.33333333333333
번호=3, 이름=Scott, 총점=275, 평균=91.66666666666667

`get_total()` 함수와 `get_mean()` 함수는 학생 객체(dict)의 데이터와 매우 밀접한 관계를 가지고 있음.

데이터(국어, 영어, 수학 점수, ...)와 기능(총점 계산, 평균 계산, ...)이 매우 밀접하게 연결되어 있음.

데이터와 기능을 하나의 **타입**으로 묶을 수는 없을까?

# 객체 지향 프로그래밍(OOP: Object-Oriented Programming)

*   **객체(object)**: 데이터(속성)와 기능을 가지고 있는 대상.
*   **클래스(class)**: 객체를 만들기 위한 설계도(코드).
    *   속성(attribute): 객체가 가져야하는 값(들), 변수(들).
    *   기능(method): 클래스 안에서 선언하는 함수(function).
        *   메서드를 선언할 때 항상 첫번째 파라미터는 `self`.
*   **인스턴스(instance)**: 메모리에 생성된 객체.
*   **생성자(constructor)**: 클래스 이름과 동일한 특별한 함수. 객체를 생성해 주는 함수.
    *   파이썬에서는 생성자를 호출하면 클래스에서 선언된 `__init__()` 메스드가 자동으로 호출됨.

In [24]:
class Student:
    # 생성자 함수 - 객체 초기화
    def __init__(self, id, name, korean, english, math):
        self.id = id
        self.name = name
        self.korean = korean
        self.english = english
        self.math = math

    # 메서드(method)
    # 학생 객체가 가지고 있는 세 과목의 총점을 리턴하는 메서드.
    def get_total(self):
        return self.korean + self.english + self.math

    # 학생 객체가 가지고 있는 세 과목의 평균을 리턴하는 메서드.
    def get_mean(self):
        return self.get_total() / 3

In [25]:
# Student 클래스의 생성자를 호출해서 객체를 생성.
student1 = Student(1, '홍길동', 99, 85, 96)
print(student1)  # 객체 출력
print(student1.id)  # 객체 속성 출력
print(student1.name)
print(student1.korean)
print(student1.english)
print(student1.math)
print(student1.get_total())  # 객체 메서드 호출
print(student1.get_mean())

<__main__.Student object at 0x79eb1b2b2ff0>
1
홍길동
99
85
96
280
93.33333333333333

In [20]:
student2 = Student(2, '오쌤', 90, 80, 70)
print(student2)
print(student2.id)
print(student2.name)
print(student2.korean)
print(student2.english)
print(student2.math)
print(student2.get_total())
print(student2.get_mean())

<__main__.Student object at 0x79eb1b2b17f0>
2
오쌤
90
80
70
240
80.0