<a href="https://colab.research.google.com/github/JakeOh/202511_BD53/blob/main/lab_python/python03_conditional.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 조건문(conditional statement)

## else 없는 조건문

```
if 조건식:
    조건식을 만족할 때(조건식이 참일 때) 실행할 코드 블록(문장들)
```

*   `if 조건식` 뒤에는 반드시 콜론(:)을 써야 됨.
*   if 블록은 반드시 들여쓰기(indentation)을 해야 됨.
*   들여쓰기 크기는 일정해야 함.

In [1]:
age = int(input('나이 입력>> '))
if age >= 0:
    print('안녕하세요...')
    print(f'당신은 {age}살이군요...')

나이 입력>> 16
안녕하세요...
당신은 16살이군요...

## else 있는 조건문

```
if 조건식:
    조건식을 만족할 때 실행할 코드 블록
else:
    조건식을 만족하지 못할 때 실행할 코드 블록
```

In [3]:
age = int(input('나이 입력>> '))
if age >= 0:
    print(f'당신은 {age}살')
else:
    print('나이는 음수가 될 수 없어요.')

나이 입력>> -16
나이는 음수가 될 수 없어요.

(연습 문제) 정수를 입력받아서, 그 정수가 짝수인 지 홀수인 지를 출력하세요.

In [4]:
number = int(input('정수 입력>> '))
if number % 2 == 0:  # number를 2로 나눈 나머지가 0이면
    print('짝수')
else:  # 그렇지 않으면
    print('홀수')

정수 입력>> 16
짝수

Falsy values: 파이썬에서 False로 취급하는 값들.

*   숫자(int, float): 0
*   문자열(str): '' (빈 문자열, empty string)
*   빈 리스트(empty list)
*   None: 변수에 값이 할당되어 있지 않은 경우(값이 없는 경우)를 표현하는 파이썬 예약어(키워드).

In [5]:
number = int(input('정수 입력>> '))
if number % 2:  # number를 2로 나눈 나머지가 있으면
    print('홀수')
else:  # 그렇지 않으면(2로 나눈 나머지가 없으면)
    print('짝수')

정수 입력>> 16
짝수

## chained conditional statement

```
if 조건식1:
    (조건식1)이 참일 때 실행할 코드 블록
elif 조건식2:
    (조건식2)가 참일 때 실행할 코드 블록
...
else:
    위의 모든 조건들이 거짓일 때 실행할 코드 블록
```

*   `elif` 블록은 1개 이상이 있을 수 있음.
*   `else` 블록은 생략 가능.
*   모든 블록 안에서 들여쓰기 크기는 같은 크기로 작성.

숫자(float)를 입력 받고, 입력받은 숫자가 양수/0/음수인 지를 출력하세요.

In [8]:
number = float(input('숫자 입력>> '))
if number > 0:
    print('양수')
elif number < 0:
    print('음수')
else:
    print('zero')

숫자 입력>> -1.23
음수

*   세 과목 시험 점수를 입력받고 저장.
*   세 과목의 총점 계산 출력.
*   세 과목의 평균 계산 출력.
*   세 과목의 평균이 90점 이상이면 A, 80점 이상이면 B, 70점 이상이면 C, 그렇지 않으면 F라고 출력.

In [11]:
score1 = int(input('점수1을 입력>> '))
score2 = int(input('점수2를 입력>> '))
score3 = int(input('점수3을 입력>> '))

total = score1 + score2 + score3
print('총점:', total)

mean = total / 3;
print('평균:', mean)

if mean >= 90:
    print('A')
elif mean >= 80:
    print('B')
elif mean >= 70:
    print('C')
else:
    print('F')

점수1을 입력>> 80
점수2를 입력>> 90
점수3을 입력>> 75
총점: 245
평균: 81.66666666666667
B

변수 이름 만드는 관습:

*   snake 표기법: 2개 이상의 단어를 사용해서 변수 이름을 만들 때, 소문자만 사용, 단어와 단어는 밑줄(_)로 연결하는 방법. (예) total_score, average_score
*   camel 표기법: 변수 이름은 소문자로 시작하되, 2번째 (이상) 단어의 첫글자를 대문자로 해서 연결하는 방법. (예) totalScore, averageScore
*   파이썬에서 변수는 snake 표기법을 주로 사용.

## 중첩 조건문

*   if, elif, else 블록 안에서 또다른 조건문이 포함된 경우.
*   **들여쓰기**를 특히 주의!!!
*   들여쓰기 방식에 따라서 전혀 다른 로직이 될 수도 있음.
*   중첩 조건문은 논리 연산자(and, or)를 사용하는 조건문 또는 elif 블록으로 바꿀 수도 있음.

In [14]:
number = float(input('숫자 입력>> '))
if number > 0:
    print('양수')
else:
    if number < 0:
        print('음수')
    else:
        print('zero')

숫자 입력>> -3.12
음수

In [17]:
number = float(input('숫자 입력>> '))
if number >= 0:
    if number > 0:
        print('양수')
    else:
        print('zero')
else:
    print('음수')

숫자 입력>> -12.345
음수

# 난수를 만드는 방법

In [18]:
import random  # 난수 생성 기능을 가지고 있는 random 모듈을 사용.

In [34]:
# random.random(): 0 이상 1 미만([0, 1) 범위)의 실수 난수를 생성하는 기능.
random.random()

0.010738926810278548

In [70]:
# random.randrange(start, end): [start, end) 범위의 정수 난수를 생성하는 기능.
random.randrange(1, 7)  # 1 이상 7 미만의 정수 난수.

3

In [97]:
# random.randrange(end): start 값을 생략한 경우, [0, end) 범위의 정수 난수를 생성하는 기능.
random.randrange(5)  # 0 이상 5 미만의 정수 난수.

4

# 연습문제

가위/바위/보 게임의 승패를 출력.

*   가위=1, 바위=2, 보=3
*   컴퓨터: 1 이상 3 이하(4 미만)의 난수를 저장.
*   사용자: 키보드로 입력.
*   게임 결과를 출력. (예) 컴퓨터 승, 사용자 승, 비김.

In [105]:
print('=== 가위/바위/보 ===')
print('[1] 가위')
print('[2] 바위')
print('[3] 보')
print('====================')
user = int(input('선택>> '))

computer = random.randrange(1, 4)
print(f'user={user} vs computer={computer}')

if user == 1:  # 사용자-가위
    if computer == 1:  # 컴퓨터-가위
        print('비김')
    elif computer == 2:  # 컴퓨터-바위
        print('컴퓨터 승')
    else:  # 컴퓨터-보
        print('사용자 승')
elif user == 2:  # 사용자-바위
    if computer == 1:  # 컴퓨터-가위
        print('사용자 승')
    elif computer == 2:  # 컴퓨터-바위
        print('비김')
    else:  # 컴퓨터-보
        print('컴퓨터 승')
else:  # 사용자-보
    if computer == 1:  # 컴퓨터-가위
        print('컴퓨터 승')
    elif computer == 2:  # 컴퓨터-바위
        print('사용자 승')
    else:  # 컴퓨터-보
        print('비김')

=== 가위/바위/보 ===
[1] 가위
[2] 바위
[3] 보
====================
선택>> 1
user=1 vs computer=2
컴퓨터 승

In [113]:
print('=== 가위/바위/보 ===')
print('[1] 가위')
print('[2] 바위')
print('[3] 보')
print('====================')
user = int(input('선택>> '))

computer = random.randrange(1, 4)
print(f'user={user} vs computer={computer}')

if user == computer:  # 비기는 경우
    print('비김')
elif user == 1:  # 사용자-가위
    if computer == 2:  # 컴퓨터-바위
        print('컴퓨터 승')
    else:  # 컴퓨터-보
        print('사용자 승')
elif user == 2:  # 사용자-바위
    if computer == 1:  # 컴퓨터-가위
        print('사용자 승')
    else:  # 컴퓨터-보
        print('컴퓨터 승')
else:  # 사용자-보
    if computer == 1:  # 컴퓨터-가위
        print('컴퓨터 승')
    else:  # 컴퓨터-바위
        print('사용자 승')

=== 가위/바위/보 ===
[1] 가위
[2] 바위
[3] 보
====================
선택>> 2
user=2 vs computer=2
비김

In [120]:
print('=== 가위/바위/보 ===')
print('[1] 가위')
print('[2] 바위')
print('[3] 보')
print('====================')
user = int(input('선택>> '))

computer = random.randrange(1, 4)
print(f'user={user} vs computer={computer}')

# user가 이기는 경우:
user_win = (user == 1 and computer == 3) or (user == 2 and computer == 1) or (user == 3 and computer == 2)

if user == computer:
    print('비김')
elif user_win:
    print('사용자 승')
else:
    print('컴퓨터 승')

=== 가위/바위/보 ===
[1] 가위
[2] 바위
[3] 보
====================
선택>> 3
user=3 vs computer=1
컴퓨터 승

In [123]:
print('=== 가위/바위/보 ===')
print('[1] 가위')
print('[2] 바위')
print('[3] 보')
print('====================')
user = int(input('선택>> '))

computer = random.randrange(1, 4)
print(f'user={user} vs computer={computer}')

game = user - computer
if game == 0:
    print('비김')
elif game == 1 or game == -2:
    print('사용자 승')
else:
    print('컴퓨터 승')

=== 가위/바위/보 ===
[1] 가위
[2] 바위
[3] 보
====================
선택>> 3
user=3 vs computer=2
사용자 승

# match 문

```
match 변수(또는 식):
    case 값1:
        변수(또는 식)이 값1과 같은 경우 실행할 코드 블록
    case 값2:
        변수(또는 식)이 값2와 같은 경우 실행할 코드 블록
    ...
```

In [127]:
user = int(input('1, 2, 3 선택>> '))
match user:
    case 1:
        print('가위')
    case 2:
        print('바위')
    case 3:
        print('보')

1, 2, 3 선택>> 4

In [130]:
# 0(일요일), 1(월요일), ..., 5(금요일), 6(토요일)
day = int(input('0 ~ 6 선택>> '))
match day:
    case 1 | 2 | 3 | 4 | 5:
        print('학원에서 수업')
    case 0 | 6:
        print('집에서 복습')

0 ~ 6 선택>> 2
학원에서 수업