<a href="https://colab.research.google.com/github/JakeOh/202511_BD53/blob/main/lab_python/python11_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Function(함수)

In [1]:
result = len('hello python')
print(result)

12

In [2]:
print('hello')
print()
print('hello', 'python')

hello

hello python

*   **함수(function)**: 기능을 수행하는 코드 블록.
*   **인수(argument)**: 함수를 호출할 때 함수에게 전달하는 값.
*   **매개변수(parameter)**: 아규먼트를 저장하기 위해서 함수를 정의하는 곳에서 선언하는 변수.
*   **반환값(return value)**: 함수가 기능을 수행하고 그 결과로 함수를 호출한 곳에 되돌려 주는 값.
    *   함수에 따라서 반환값이 있는 함수도 있고, 반환값이 없는 함수도 있음.

# 함수 선언(정의)

```
def function_name([parameter1, parameter2, ...]):
    ["""문서 주석(documentation comment)"""]
    함수가 수행할 코드 블록
    [return 반환값]
```

*   반환값이 없는 함수는 return 문장을 생략하거나, `return None` 문장을 사용할 수 있음.
*   return의 의미:
    *   함수 종료.
    *   함수를 호출한 곳에 값을 반환.

In [3]:
# 함수 정의(선언)
def subtract(x, y):
    """숫자 x, y를 전달 받아서 x - y를 반환하는 함수."""
    return x - y

In [4]:
result = subtract(2, 1)  # 함수 호출(call, invoke)
print(result)

1

## 값을 반환하지 않는 함수

In [5]:
def repeat_message(msg, n):
    """
    msg를 n번 반복해서 출력.

    @param msg - 출력할 문자열.
    @param n - 반복해서 출력할 횟수. 0 또는 양의 정수.
    """
    for _ in range(n):
        print(msg)

    # return None

In [6]:
repeat_message('안녕하세요', 3)

안녕하세요
안녕하세요
안녕하세요

In [7]:
repeat_message('Hello, Python!', 5)

Hello, Python!
Hello, Python!
Hello, Python!
Hello, Python!
Hello, Python!

## 2개 이상의 값을 반환하는 함수

In [8]:
def plus_and_minus(x, y):
    """
    x + y, x - y를 반환.

    @param x - 숫자 타입(int 또는 float).
    @param y - 숫자 타입(int 또는 float).
    @return x + y, x - y
    """
    return x + y, x - y

In [9]:
a, b = plus_and_minus(1.0, 2.0)
print(f'a={a}, b={b}')

a=3.0, b=-1.0

In [10]:
result = plus_and_minus(3, 7)
print(result)  # result의 데이터 타입: tuple
print(result[0])  # tuple의 첫번째 원소
print(result[1])  # tuple의 두번째 원소

(10, -4)
10
-4

## 함수 선언과 호출 연습

In [11]:
import random

### Ex. 1

*   함수 이름: make_list
*   기능: [start, end) 범위의 정수 난수 n개를 아이템으로 갖는 리스트를 반환.
*   파라미터: start(정수), end(정수), n(0 또는 양의 정수)
*   반환값: 정수 난수들의 리스트.

In [12]:
def make_list(start, end, n):
    """
    start 이상 end 미만의 정수 난수 n개를 아이템으로 갖는 리스트를 리턴.

    @param start - int. 난수 시작 범위.
    @param end - int. 난수 종료 범위.
    @param n - 리스트의 아이템 개수(난수 개수). 0 또는 양의 정수.
    @return 정수 난수 n개를 갖는 리스트.
    """

    # numbers = []
    # for _ in range(n):
    #     numbers.append(random.randrange(start, end))
    numbers = [random.randrange(start, end) for _ in range(n)]

    return numbers

In [13]:
rand_numbers = make_list(0, 10, 5)
print(rand_numbers)

[7, 1, 7, 5, 1]

### Ex. 2

*   함수 이름: calculate_sum
*   기능: 숫자(정수 또는 실수)들을 원소로 갖는 리스트를 전달받아서, 그 리스트의 모든 원소들의 합을 리턴.
*   파라미터: array(숫자들의 리스트).
*   반환값: 리스트 array의 모든 원소들의 합계.

In [14]:
def calculate_sum(array):
    """
    숫자들의 리스트 array의 모든 원소들의 합을 리턴.

    @param array - 숫자들을 원소로 갖는 리스트.
    @return array의 모든 원소들의 합.
    """

    total = 0
    for x in array:
        total += x

    return total

In [15]:
calculate_sum([1, 2, 3])

6

In [16]:
calculate_sum(rand_numbers)

21

### Ex. 3

*   함수 이름: calculate_mean
*   기능: 숫자들을 원소로 갖는 리스트의 원소들의 평균을 리턴.
*   파라미터: array(숫자들의 리스트).
*   반환값: 리스트 array의 모든 원소들의 평균.

In [17]:
def calculate_mean(array):
    """
    숫자들의 리스트 array의 원소들의 평균을 리턴.

    @param array - 숫자들을 원소로 갖는 리스트.
    @return array 원소들의 평균.
    """

    mean = calculate_sum(array) / len(array)

    return mean

In [18]:
calculate_mean(rand_numbers)

4.2

### Ex. 4

*   함수 이름: find_min_and_max
*   기능: 숫자들을 원소로 갖는 리스트에서 최솟값과 최댓값을 찾아서 리턴.
*   파라미터: array(숫자들의 리스트).
*   반환값: 리스트 array에서 최솟값, 최댓값.

In [19]:
def find_min_and_max(array):
    """
    숫자들의 리스트 array 원소들 중에서 최솟값과 최댓값을 리턴.

    @param array - 숫자들을 저장하는 리스트.
    @return 최솟값, 최댓값
    """

    min_value = array[0]
    max_value = array[0]
    for x in array:
        if x > max_value:
            max_value = x
        if x < min_value:
            min_value = x

    return min_value, max_value

In [20]:
find_min_and_max(rand_numbers)

(1, 7)

# Default Argument(기본 아규먼트)

*   함수를 선언할 때 파라미터에 설정하는 기본값.
    *   default parameter: 기본값이 설정된 파라미터(매개변수).
*   함수를 호출할 때 default parameter에 아규먼트를 주지 않으면, default argument가 기본값으로 사용됨.
*   함수를 호출할 때 default parameter에 아규먼트를 주면, 기본값 대신 전달한 아규먼트가 사용됨.

In [21]:
print('안녕', 'Hello', '파이썬', 'Python')  # sep=' ' 기본값을 사용

안녕 Hello 파이썬 Python

In [22]:
print('안녕', 'Hello', '파이썬', 'Python', sep=',')  # sep 파라미터의 기본값을 변경.

안녕,Hello,파이썬,Python

In [23]:
# default argument를 갖는 함수 정의
def repeat_message(msg, n=1):
    for _ in range(n):
        print(msg)

In [24]:
repeat_message('안녕하세요.')

안녕하세요.

In [25]:
repeat_message('안녕하세요', 3)

안녕하세요
안녕하세요
안녕하세요

**(주의)** default parameter(기본값이 있는 파라미터)는 기본값을 갖지 않는 파라미터(들) 뒤에서만 선언할 수 있음!

default parameter를 기본값을 갖지 않는 파라미터보다 먼저 선언하면 문법 오류!

In [26]:
def test_success(x, y=0):
    pass

In [27]:
def test_failure(x=0, y):
    pass

SyntaxError: parameter without a default follows parameter with a default (ipython-input-3378983790.py, line 1)

In [28]:
def test(x, y):
    pass

In [29]:
def test(x=0, y=0):
    print(f'x = {x}, y = {y}')

In [30]:
test()

x = 0, y = 0

In [31]:
test(1)

x = 1, y = 0

In [32]:
test(1, 2)  # positional argument 방식

x = 1, y = 2

In [33]:
test(y=1)  # keyword argument 방식

x = 0, y = 1

함수를 호출할 때 아규먼트를 전달하는 방법:

*   **positional argument**: 선언된 파라미터 순서대로 아규먼트들을 전달하는 방식.
*   **keyword argument**: `param=value` 형식으로 아규먼트(들)을 전달하는 방식.
    *   keyword argument 방식은 파라미터 순서를 지키지 않아도 됨.
    *   **(주의)** 함수를 호출할 때 positional argument와 keyword argument를 함께 사용하는 경우에는, 반드시 positional argument들을 먼저 써야 함.
    *   keyword argument를 positional argument보다 먼저 쓸 수는 없음!

In [34]:
test(y=1, x=123)  # keyword argument는 파라미터 순서를 지키지 않아도 됨.

x = 123, y = 1

In [35]:
test(1, y=123)  # positional 먼저 -> keyword 나중에

x = 1, y = 123

In [36]:
test(x=1, 123)  # keyword 먼저, positional 나중에 --> 문법 오류

SyntaxError: positional argument follows keyword argument (ipython-input-2377392643.py, line 1)

In [37]:
test(x=1, y=12)

x = 1, y = 12

# 가변길이 인수(variable-length arguments)

*   함수를 호출할 때 아규먼트를 몇 개를 전달해도 됨.
    *   아규먼트를 한 개도 전달하지 않아도 됨.
*   함수를 선언할 때 파라미터 이름 앞에 `*`를 사용한 파라미터가 가변길이 인수가 됨.
*   함수 내부에서 가변길이 인수는 튜플(tuple)로 취급함.
    *   가변길이 인수는 인덱스를 가짐.
    *   가변길이 인수는 `for-in` 구문에서 사용할 수 있음.
*   함수를 선언할 때 가변길이 인수는 1개만 선언할 수 있음.
*   가변길이 인수는 keyword argument 방식으로 아규먼트들을 전달할 수 없음.
*   가변길이 인수 뒤에서 선언된 파라미터(들)은 keyword argument 방식으로만 아규먼트를 전달할 수 있음.

In [38]:
print()  # arg 0개
print('hello')  # arg 1개
print('hello', '안녕')  # arg 2개

hello
hello 안녕

In [39]:
print('qwer', 'hello', sep='::')

qwer::hello

In [40]:
# 가변길이 인수를 2개 이상 선언하면 문법 오류
def fn(*a, *b):
    pass

SyntaxError: * argument may appear only once (ipython-input-3235636608.py, line 2)

In [41]:
def add_all(*args):
    print(args)
    result = 0
    for x in args:
        result += x

    return result

In [42]:
add_all()

()

0

In [43]:
add_all(1)

(1,)

1

In [44]:
add_all(1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)

15

In [45]:
def test_var_args(x, *y):
    print(f'x={x}, y={y}')

In [46]:
test_var_args(1)

x=1, y=()

In [47]:
test_var_args(1, 2)

x=1, y=(2,)

In [48]:
test_var_args(1, 2, 3, 4, 5)

x=1, y=(2, 3, 4, 5)

In [49]:
def test_var_args2(*x, y):
    print(f'x={x}, y={y}')

In [50]:
test_var_args2(1, 2, y=3)

x=(1, 2), y=3

In [51]:
def fn(a, b, *, x, y, z):
    pass

In [52]:
fn(1, 2, x=3, y=4, z=5)

In [53]:
fn(a=1, b=2, x=1, y=2, z=3)

In [54]:
def calculate(*values, op):
    """
    op='+'인 경우, values들의 합계를 리턴.
    op='*'인 경우, values들의 곱을 리턴.
    (예)
    calculate(1, 2, 3, op='+') 호출하면 1 + 2 + 3을 리턴.
    calculate(1, 2, 3, op='*') 호출하면 1 * 2 * 3을 리턴.
    values에 전달된 값이 없을 때는 None을 리턴.
    op가 '+' 또는 '*'가 아닐 때는 ValueError를 발생(raise ValueError).
    """

    if op not in ('+', '*'):  # if op != '+' and op != '*':
        raise ValueError("아규먼트 op는 '+' 또는 '*'만 가능합니다.")

    if len(values) == 0:
        result = None
    elif op == '+':
        result = 0
        for x in values:
            result += x
    elif op == '*':  # else:
        result = 1
        for x in values:
            result *= x

    return result

In [55]:
calculate(op='+')

In [56]:
calculate(1, 2, 3, 4, 5, op='+')

15

In [57]:
calculate(1, 2, 3, 4, 5, op='*')

120

In [58]:
calculate(1, 2, 3, 4, 5, op='/')

ValueError: 아규먼트 op는 '+' 또는 '*'만 가능합니다.

In [59]:
calculate(op='-')

ValueError: 아규먼트 op는 '+' 또는 '*'만 가능합니다.

# 가변길이 키워드 아규먼트(variable-length keyword arguments)

*   함수를 선언할 때 파라미터 이름 앞에 `**`를 사용.
*   함수를 호출할 때, `param1=value1, param2=value2, ...` 형식으로 아규먼트들을 전달하면 됨.
    *   가변길이 아규먼트 --> 전달하는 아규먼트 개수는 제한이 없음.
    *   키워드 아규먼트 --> 반드시 키워드(파라미터 이름)와 함께 아규먼트들을 전달해야 됨.
        *   키워드는 자유롭게 만듦.
*   함수 내부에서 가변길이 키워드 아규먼트는 dict 타입 객체로 취급.
    *   키워드(파라미터 이름)는 dict의 key가 됨.
    *   아규먼트는 dict의 value가 됨.
*   가변길이 키워드 아규먼트는 함수에서 오직 1개만 선언할 수 있음.

In [60]:
def test_kwargs(*args, **kwargs):
    print(f'args = {args}')
    print(f'kwargs = {kwargs}')

In [61]:
test_kwargs(1, 2, 'a', 'b')

args = (1, 2, 'a', 'b')
kwargs = {}

In [62]:
test_kwargs(1, 2, name='오쌤', age=16)

args = (1, 2)
kwargs = {'name': '오쌤', 'age': 16}