<a href="https://colab.research.google.com/github/JakeOh/202511_BD53/blob/main/lab_python/python13_oop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 객체지향 프로그래밍 배경

In [1]:
students = [
    {'id': 1, 'name': '홍길동', 'korean': 100, 'english': 80, 'math': 95},
    {'id': 2, 'name': '오쌤', 'korean': 50, 'english': 78, 'math': 40},
    {'id': 3, 'name': 'Scott', 'korean': 70, 'english': 100, 'math': 88}
]

In [2]:
# 번호, 이름, 총점, 평균 출력
for s in students:
    total = s['korean'] + s['english'] + s['math']
    mean = total / 3
    print(f'번호={s['id']}, 이름={s['name']}, 총점={total}, 평균={mean}')

번호=1, 이름=홍길동, 총점=275, 평균=91.66666666666667
번호=2, 이름=오쌤, 총점=168, 평균=56.0
번호=3, 이름=Scott, 총점=258, 평균=86.0

위 코드의 문제점은 dict의 키는 중복되지 않게만 만들면 되기 때문에, 각각의 학생 객체들이 모두 같은 키들을 갖는다는 보장은 없음. 반복문에서 총점과 평균을 계산하는 코드가 제대로 동작하지 않을 수도 있음.

# 함수형 프로그래밍(Functional Programming)

In [3]:
def create_student(id, name, kor, eng, math):
    student = {
        'id': id,
        'name': name,
        'korean': kor,
        'english': eng,
        'math': math
    }

    return student

In [4]:
students = [
    create_student(1, '홍길동', 100, 90, 95),
    create_student(2, '오쌤', 90, 50, 80),
    create_student(3, 'Scott', 80, 100, 95)
]

In [5]:
students

[{'id': 1, 'name': '홍길동', 'korean': 100, 'english': 90, 'math': 95},
 {'id': 2, 'name': '오쌤', 'korean': 90, 'english': 50, 'math': 80},
 {'id': 3, 'name': 'Scott', 'korean': 80, 'english': 100, 'math': 95}]

In [6]:
# 아규먼트 student가 create_student() 함수에 의해서 만들어진 dict일 때 세 과목의 총점을 리턴.
def get_total(student):
    return student['korean'] + student['english'] + student['math']

In [7]:
# 아규먼트 student가 create_student() 함수에 의해서 만들어진 dict일 때 세 과목의 평균을 리턴.
def get_mean(student):
    return get_total(student) / 3

In [8]:
for s in students:
    total = get_total(s)
    mean = get_mean(s)
    print(f'번호={s['id']}, 이름={s['name']}, 총점={total}, 평균={mean}')

번호=1, 이름=홍길동, 총점=285, 평균=95.0
번호=2, 이름=오쌤, 총점=220, 평균=73.33333333333333
번호=3, 이름=Scott, 총점=275, 평균=91.66666666666667

`get_total()` 함수와 `get_mean()` 함수는 학생 객체(dict)의 데이터와 매우 밀접한 관계를 가지고 있음.

데이터(국어, 영어, 수학 점수, ...)와 기능(총점 계산, 평균 계산, ...)이 매우 밀접하게 연결되어 있음.

데이터와 기능을 하나의 **타입**으로 묶을 수는 없을까?

# 객체 지향 프로그래밍(OOP: Object-Oriented Programming)

*   **객체(object)**: 데이터(속성)와 기능을 가지고 있는 대상.
*   **클래스(class)**: 객체를 만들기 위한 설계도(코드).
    *   속성(attribute): 객체가 가져야하는 값(들), 변수(들).
    *   기능(method): 클래스 안에서 선언하는 함수(function).
        *   메서드를 선언할 때 항상 첫번째 파라미터는 `self`.
*   **인스턴스(instance)**: 메모리에 생성된 객체.
*   **생성자(constructor)**: 클래스 이름과 동일한 특별한 함수. 객체를 생성해 주는 함수.
    *   파이썬에서는 생성자를 호출하면 클래스에서 선언된 `__init__()` 메스드가 자동으로 호출됨.

In [9]:
class Student:
    # 생성자 함수 - 객체 초기화
    def __init__(self, id, name, korean, english, math):
        self.id = id
        self.name = name
        self.korean = korean
        self.english = english
        self.math = math

    # 메서드(method)
    # 학생 객체가 가지고 있는 세 과목의 총점을 리턴하는 메서드.
    def get_total(self):
        return self.korean + self.english + self.math

    # 학생 객체가 가지고 있는 세 과목의 평균을 리턴하는 메서드.
    def get_mean(self):
        return self.get_total() / 3

In [10]:
# Student 클래스의 생성자를 호출해서 객체를 생성.
student1 = Student(1, '홍길동', 99, 85, 96)
print(student1)  # 객체 출력
print(student1.id)  # 객체 속성 출력
print(student1.name)
print(student1.korean)
print(student1.english)
print(student1.math)
print(student1.get_total())  # 객체 메서드 호출
print(student1.get_mean())

<__main__.Student object at 0x7c207f081220>
1
홍길동
99
85
96
280
93.33333333333333

In [11]:
student2 = Student(2, '오쌤', 90, 80, 70)
print(student2)
print(student2.id)
print(student2.name)
print(student2.korean)
print(student2.english)
print(student2.math)
print(student2.get_total())
print(student2.get_mean())

<__main__.Student object at 0x7c207f0829c0>
2
오쌤
90
80
70
240
80.0

In [12]:
# Student 타입 객체들을 저장하는 리스트(list)
students = [
    Student(1, '홍길동', 100, 100, 100),
    Student(2, '오쌤', 90, 80, 88),
    Student(3, 'Scott', 80, 100, 90)
]

In [13]:
students

[<__main__.Student at 0x7c207f080740>,
 <__main__.Student at 0x7c207f082e10>,
 <__main__.Student at 0x7c207f082e70>]

In [14]:
for s in students:
    print(f'번호={s.id}, 이름={s.name}, 총점={s.get_total()}, 평균={s.get_mean()}')

번호=1, 이름=홍길동, 총점=300, 평균=100.0
번호=2, 이름=오쌤, 총점=258, 평균=86.0
번호=3, 이름=Scott, 총점=270, 평균=90.0

Naming conventing(이름 관습)

*   변수, 함수 이름: 소문자(또는 숫자)로 이루어진 snake 표기법
    *   (예) student, get_total(), ...
*   클래스 이름: 첫글자를 대문자로 하는 camel 표기법
    *   (예) Student, DataFrame, DecisionTree, ...

# 클래스 작성 연습

## Ex. 1

원(Cirlce) 클래스

*   속성(attribute): 반지름(radius)
*   기능(method): 넓이 계산(area), 둘레길이 계산(perimeter)

In [15]:
class Circle:
    def __init__(self, radius):
        self.radius = radius

    def area(self):
        return 3.14 * self.radius ** 2

    def perimeter(self):
        return 2 * 3.14 * self.radius

In [16]:
c1 = Circle(1)  # 생성자 호출 -> 객체 생성
print(c1)
print(c1.radius)  # 생성된 객체(인스턴스)의 속성(변수) 값을 읽어옴.
print(c1.area())  # 생성된 객체(인스턴스)에서 메서드를 호출(기능을 호출).
print(c1.perimeter())

<__main__.Circle object at 0x7c207f02b0b0>
1
3.14
6.28

In [17]:
c2 = Circle(10)
print(c2)
print(c2.radius)
print(c2.area())
print(c2.perimeter())

<__main__.Circle object at 0x7c207f0838c0>
10
314.0
62.800000000000004

## Ex. 2

직사각형(Rectangle) 클래스

*   속성: width(가로길이), height(세로길이)
*   기능:
    *   area: 직사각형 객체의 넓이 리턴.
    *   perimeter: 직사각형 객체의 둘레길이 리턴.
    *   resize: 직사각형 객체의 가로길이와 세로길이를 변경.

In [18]:
class Rectangle:
    def __init__(self, width, height):
        # 객체 변수 = 값  --> 초기화(initialization)
        self.width = width
        self.height = height

    def area(self):
        return self.width * self.height

    def perimeter(self):
        return (self.width + self.height) * 2

    def resize(self, new_width, new_height):
        self.width = new_width
        self.height = new_height

In [19]:
# 가로길이 4, 세로길이 3인 직사각형 객체 생성
rect1 = Rectangle(width=4, height=3)  # 생성자 호출 --> __init__() 메서드 호출 --> 객체 생성
print(rect1)

<__main__.Rectangle object at 0x7c207f082c60>

In [20]:
print(rect1.width)  # rect1 객체의 가로길이 속성
print(rect1.height)
print(rect1.area())  # rect1 객체에서 넓이를 리턴하는 메서드를 호출
print(rect1.perimeter())

4
3
12
14

In [21]:
# rect1 직사각형 객체의 가로길이를 16, 세로길이를 4로 변경.
rect1.resize(16, 4)
print(rect1.area())  # 직사각형 크기 변경 후 넓이 = 16 * 4 = 64
print(rect1.perimeter())  # 직사각형 크기 변경 후 둘레길이 = (16 + 4) * 2 = 40

64
40

In [22]:
rect2 = Rectangle(2, 2)
print(f'rect2: 가로={rect2.width}, 세로={rect2.height}, 넓이={rect2.area()}, 둘레={rect2.perimeter()}')

rect2: 가로=2, 세로=2, 넓이=4, 둘레=8

In [23]:
rect2.resize(2, 4)
print(f'rect2: 가로={rect2.width}, 세로={rect2.height}, 넓이={rect2.area()}, 둘레={rect2.perimeter()}')

rect2: 가로=2, 세로=4, 넓이=8, 둘레=12

## Ex. 3

점(Point) 클래스: 2차원 평면의 한 점의 좌표를 표현하는 객체.

*   속성
    *   x: x 좌표. 기본값은 0.
    *   y: y 좌표. 기본값은 0.
*   기능
    *   move: 이동. 점의 위치를 원래 위치에서 x축 방향으로 dx만큼, y축 방향으로 dy만큼 이동.
    *   distance: 두 점 간의 거리를 리턴. `((x1 - x2) ** 2 + (y1 - y2) ** 2) ** 0.5`

In [24]:
class Point:
    """2차원 평면에서 한 점의 좌표 (x, y)를 표현하는 클래스."""

    def __init__(self, x=0, y=0):
        self.x = x
        self.y = y

    def move(self, dx, dy):
        """점의 위치를 x축의 방향으로 dx만큼, y축의 방향으로 dy만큼 이동."""
        self.x += dx  # self.x = self.x + dx
        self.y += dy

    # def distance(self, x, y):
    #     return ((self.x - x) ** 2 + (self.y - y) ** 2) ** 0.5

    def distance(self, other):
        """
        현재 점(self)과 다른 점(other) 사이의 거리를 리턴.

        @param other - Point 타입 객체.
        @return self와 other 사이의 거리.
        """
        return ((self.x - other.x) ** 2 + (self.y - other.y) ** 2) ** 0.5

In [25]:
pt1 = Point()
print(f'pt1: x={pt1.x}, y={pt1.y}')

pt1: x=0, y=0

In [26]:
pt1.move(1, -2)
print(f'pt1: x={pt1.x}, y={pt1.y}')

pt1: x=1, y=-2

In [27]:
pt2 = Point(x=2, y=1)
print(f'pt2: x={pt2.x}, y={pt2.y}')

pt2: x=2, y=1

In [28]:
pt1.distance(pt2)  # Point pt1과 Point pt2 사이의 거리

3.1622776601683795

In [29]:
pt2.distance(pt1)  # pt2에서 pt1까지의 거리.

3.1622776601683795

# 클래스 magic method

In [30]:
point = Point(1, 2)  # 생성자 호출 -> 객체 생성

In [31]:
print(point)

<__main__.Point object at 0x7c207e3e3110>

In [32]:
point

In [38]:
dir(point)  # point 객체의 모든 속성(변수 & 메서드)들을 열거.

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'distance',
 'move',
 'x',
 'y']

In [55]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def __str__(self):
        return f'Person(name={self.name}, age={self.age})'

    def __repr__(self):
        return f'이름={self.name}, 나이={self.age}'

In [56]:
p = Person('홍길동', 16)

In [57]:
print(p)

Person(name=홍길동, age=16)

`print(obj)` 함수의 동작 원리:

*   클래스에서 `__str__()`, `__repr__()` 메서드를 선언하지 않은 경우에, `ClassName object at ...` 형식의 문자열을 출력.
*   클래스에서 `__str__()` 메서드를 선언한 경우에, `__str__()` 메서드가 리턴하는 문자열을 출력.
*   클래스에서 `__str__()` 메서드가 선언되지 않은 경우, `__repr__()` 메서드가 리턴하는 문자열을 출력.
*   `__str__()` 메서드 있는가? --> `__repr__()` 메서드가 있는가? --> `ClassName object at ...`

In [58]:
p

이름=홍길동, 나이=16

Jupyter Notebook의 코드 셀은 가장 마지막 줄(line)이 변수, 함수 호출, 식(expression)일 때, 그 값을 자동으로 출력해 주는 기능을 가지고 있다.

*   객체의 `__repr__()` 메서드가 리턴하는 문자열으로 출력.
*   클래스에서 `__repr__()` 메서드를 선언하지 않은 경우, `ClassName at ...` 형식의 문자열을 출력.

# 클래스 작성 연습

*   Score 클래스
    *   속성: 국어(korean), 영어(english), 수학(math)
        *   객체를 초기화할 때 기본값은 모두 0.
    *   메서드:
        *   get_total: 국/영/수 총점 리턴.
        *   get_mean: 국/영/수 평균 리턴.
        *   `__str__`: `Score(korean=0, english=0, math=0)` 형식의 문자열을 리턴.
        *   `__repr__`: `점수(국어=0, 영어=0, 수학=0)` 형식의 문자열을 리턴.

*   Student 클래스
    *   속성: 번호(id), 이름(name), 점수(score: Score 클래스 타입을 저장하는 변수)
    *   메서드:
        *   `__str__`
        *   `__repr__`

In [59]:
class Score:
    def __init__(self, korean=0, english=0, math=0):
        self.korean = korean
        self.english = english
        self.math = math

    def __str__(self):
        return f'Score(korean={self.korean}, english={self.english}, math={self.math})'

    def __repr__(self):
        return f'점수(국어={self.korean}, 영어={self.english}, 수학={self.math})'

    def get_total(self):
        return self.korean + self.english + self.math

    def get_mean(self):
        return self.get_total() / 3

In [60]:
score1 = Score()
print(score1)
score1

Score(korean=0, english=0, math=0)

점수(국어=0, 영어=0, 수학=0)

In [61]:
score2 = Score(korean=100, math=90)
print(score2)

Score(korean=100, english=0, math=90)

In [62]:
print(score2.get_total())
print(score2.get_mean())

190
63.333333333333336

In [70]:
class Student:
    def __init__(self, id, name, score):
        self.id = id
        self.name = name
        self.score = score

    def __str__(self):
        # return f'Student(id={self.id}, name={self.name}, score={self.score})'
        return f'Student(id={self.id}, name={self.name}, korean={self.score.korean}, english={self.score.english}, math={self.score.math}, total={self.score.get_total()}, mean={self.score.get_mean()})'

    def __repr__(self):
        # __str__ 메서드가 리턴하는 문자열을 리턴함.
        return self.__str__()

In [71]:
hgd = Student(id=1, name='홍길동', score=score1)
print(hgd)
hgd

Student(id=1, name=홍길동, korean=0, english=0, math=0, total=0, mean=0.0)

Student(id=1, name=홍길동, korean=0, english=0, math=0, total=0, mean=0.0)

In [72]:
print(hgd.score.get_total())  # 홍길동 점수 합계
print(hgd.score.get_mean())  # 홍길동 점수 평균

0
0.0

In [73]:
ssam = Student(id=1004, name='오쌤', score=Score(99, 88, 100))
print(ssam)

Student(id=1004, name=오쌤, korean=99, english=88, math=100, total=287, mean=95.66666666666667)

In [74]:
print(ssam.score.get_total())
print(ssam.score.get_mean())

287
95.66666666666667