<a href="https://colab.research.google.com/github/JakeOh/202511_BD53/blob/main/lab_python/python12_lambda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1급 객체(first-class object)로서의 함수

**함수(function)은 객체(object)다.**

*   객체(object): 숫자, 문자열, 논리값, list, tuple, dict, ...
*   객체는 변수에 할당(저장)할 수 있음.
*   객체는 함수 아규먼트로 전달할 수 있음.
*   객체는 함수가 리턴(반환)할 수 있음.
*   객체는 함수 내부에서 만들고 사용할 수 있음.

In [1]:
x = 1  # 정수 1을 변수 x에 할당. -> 객체는 변수에 할당할 수 있음.
print(x)  # 정수 객체 x를 print 함수의 아규먼트로 전달.

1

In [2]:
len('안녕')  # len() 함수가 문자열의 길이(정수 객체)를 리턴(반환)

2

In [3]:
def double(x):
    return x * 2

In [4]:
print(double(11))  # double() 함수를 호출하고, 그 리턴값을 출력.

22

In [5]:
print(double)  # double 이름의 함수 객체를 출력.

<function double at 0x7bca1cfe91c0>

## 함수를 변수에 할당

In [11]:
twice = double  # double 함수 객체를 변수에 twice에 할당(저장)

In [12]:
print(twice)

<function double at 0x7bca1cfe91c0>

In [14]:
twice(31)

62

## 아규먼트로 함수를 전달

In [18]:
def calculator(x, y, fn):
    result = fn(x, y)
    return result

In [19]:
def plus(x, y):
    return x + y

In [20]:
calculator(1, 2, plus)  # plus 함수 객체를 calculator 함수의 아규먼트로 전달.

3

In [21]:
def minus(x, y):
    return x - y

In [22]:
calculator(1, 2, minus)  # minus 함수 객체를 아규먼트로 전달.

-1

In [23]:
def is_greater(x, y):
    return x > y

In [24]:
calculator(1, 2, is_greater)

False