<a href="https://colab.research.google.com/github/JakeOh/202511_BD53/blob/main/lab_python/python13_oop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 객체지향 프로그래밍 배경

In [5]:
students = [
    {'id': 1, 'name': '홍길동', 'korean': 100, 'english': 80, 'math': 95},
    {'id': 2, 'name': '오쌤', 'korean': 50, 'english': 78, 'math': 40},
    {'id': 3, 'name': 'Scott', 'korean': 70, 'english': 100, 'math': 88}
]

In [6]:
# 번호, 이름, 총점, 평균 출력
for s in students:
    total = s['korean'] + s['english'] + s['math']
    mean = total / 3
    print(f'번호={s['id']}, 이름={s['name']}, 총점={total}, 평균={mean}')

번호=1, 이름=홍길동, 총점=275, 평균=91.66666666666667
번호=2, 이름=오쌤, 총점=168, 평균=56.0
번호=3, 이름=Scott, 총점=258, 평균=86.0

위 코드의 문제점은 dict의 키는 중복되지 않게만 만들면 되기 때문에, 각각의 학생 객체들이 모두 같은 키들을 갖는다는 보장은 없음. 반복문에서 총점과 평균을 계산하는 코드가 제대로 동작하지 않을 수도 있음.

# 함수형 프로그래밍(Functional Programming)

In [7]:
def create_student(id, name, kor, eng, math):
    student = {
        'id': id,
        'name': name,
        'korean': kor,
        'english': eng,
        'math': math
    }

    return student

In [8]:
students = [
    create_student(1, '홍길동', 100, 90, 95),
    create_student(2, '오쌤', 90, 50, 80),
    create_student(3, 'Scott', 80, 100, 95)
]

In [10]:
students

[{'id': 1, 'name': '홍길동', 'korean': 100, 'english': 90, 'math': 95},
 {'id': 2, 'name': '오쌤', 'korean': 90, 'english': 50, 'math': 80},
 {'id': 3, 'name': 'Scott', 'korean': 80, 'english': 100, 'math': 95}]