<a href="https://colab.research.google.com/github/JakeOh/202511_BD53/blob/main/lab_python/python02_variable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Data Type(자료 타입)

*   숫자 타입
    *   정수(int): integer
    *   실수(float): floating-point number
*   문자열 타입(str): string
*   논리 타입(bool): True/False

## 숫자 타입

In [3]:
# 변수 선언, 값 할당: 변수이름 = 값
n = 123
print(type(n))  # type(변수이름): 변수의 타입을 반환하는 함수.
print('n =', n)

<class 'int'>
n = 123

In [4]:
n = 3.141592
print(type(n))
print('n =', n)

<class 'float'>
n = 3.141592

## 문자열 타입

파이썬의 문자열은 작은따옴표('')와 큰따옴표("")를 모두 사용할 수 있음.

In [5]:
name = '오쌤'
print(type(name))
print('name =', name)

<class 'str'>
name = 오쌤

## 논리 타입

In [7]:
b = False  # True(참) / False(거짓)
print(type(b))  # boolean
print('b =', b)

<class 'bool'>
b = False

In [9]:
b = 5 < 1
print(type(b))
print('b =', b)

<class 'bool'>
b = False

## 명시적 타입 변환

*   `int(arg)`: 아규먼트(arg)로 전달된 값을 정수로 변환해서 반환하는 함수.
    *   문자열 -> 정수
    *   실수 -> 정수
*   `float(arg)`: 아규먼트로 전달된 값을 실수로 변환해서 반환하는 함수.
    *   문자열 -> 실수
    *   정수 -> 실수
*   `str(arg)`: 아규먼트로 전달된 값을 문자열로 변환해서 반환하는 함수.
    *   정수, 실수, ... -> 문자열

In [14]:
x = input('정수 입력>>> ')
y = input('정수 입력>>> ')

print('변수 x의 타입 =', type(x))
print('변수 y의 타입 =', type(y))

x = int(x)  # 변수 x의 값을 int 타입으로 변환해서 변수 x에 저장(할당)
y = int(y)  # 변수 y의 값을 int 타입으로 변환해서 변수 y에 저장(할당)
print('변수 x의 타입 =', type(x))
print('변수 y의 타입 =', type(y))

print(f'{x} - {y} = {x - y}')

정수 입력>>> 1234
정수 입력>>> 345
변수 x의 타입 = <class 'str'>
변수 y의 타입 = <class 'str'>
변수 x의 타입 = <class 'int'>
변수 y의 타입 = <class 'int'>
1234 - 345 = 889

# 연산자(Operator)

## 할당(assignment) 연산자

*   `=`: 연산자 오른쪽의 값을 연산자 왼쪽의 변수에 저장(할당)

## 산술(arithmetic) 연산자

*   종류: `+, -, *, /, **, //, %`
*   산술 연산자는 일반적으로 숫자 타입(int, float)에서만 사용 가능.
*   일부 산술 연산자는 문자열과 같은 숫자 이외의 타입에서도 사용 가능.

In [15]:
x, y = 10, 3
print(f'{x} + {y} = {x + y}')
print(f'{x} - {y} = {x - y}')
print(f'{x} x {y} = {x * y}')
print(f'{x} / {y} = {x / y}')
print(f'{x}의 {y} 거듭제곱 = {x ** y}')
print(f'{x}를 {y}로 나눈 몫 = {x // y}')
print(f'{x}를 {y}로 나눈 나머지 = {x % y}')

10 + 3 = 13
10 - 3 = 7
10 x 3 = 30
10 / 3 = 3.3333333333333335
10의 3 거듭제곱 = 1000
10를 3로 나눈 몫 = 3
10를 3로 나눈 나머지 = 1

문자열에서 사용할 수 있는 산술 연산자:

*   `문자열 + 문자열`: concatenate. 문자열 이어 붙이기.
*   `문자열 * 정수`, `정수 * 문자열`: replicate. 문자열을 정수만큼 복사.

In [17]:
print('Hello' + 'Python')
print('Hello' * 3)
print(3 * 'Hello')

HelloPython
HelloHelloHello
HelloHelloHello

In [18]:
x, y = '1', '2'
print(x + y)  # + 연산자: 문자열 이어붙이기 연산자.

12

## 복합 할당 연산자

*   종류: `+=, -=, *=, /=, ...`
*   산술 연산자와 할당 연산자를 합쳐서 만들어진 연산자.

In [20]:
salary = 100
print(salary)

# salary = salary * 1.1
salary *= 1.1
print(salary)

100
110.00000000000001

## 비교 연산자, 논리 연산자

*   비교 연산자: `==, !=, >, >=, <, <=`
*   논리 연산자: `and, or, not`

In [21]:
x, y = 100, 200
print(x == y)
print(x != y)
print(x > y)
print(x < y)

False
True
False
True

In [22]:
print((x > 50) and (x < 150))

True

In [23]:
x = None  # SQL에서 null
print(x == None)  # 파이썬은 is 연산자가 따로 없음.
print(x != None)

True
False

Jupyter Notebook의 코드 셀은 가장 마지막 줄에서 print 함수 없이 결과를 출력해 주는 기능이 있음.

In [27]:
print(1 + 2)
1 - 2

3

-1