<a href="https://colab.research.google.com/github/JakeOh/202511_BD53/blob/main/lab_python/python2_variable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Data Type(자료 타입)

*   숫자 타입
    *   정수(int): integer
    *   실수(float): floating-point number
*   문자열 타입(str): string
*   논리 타입(bool): True/False

## 숫자 타입

In [3]:
# 변수 선언, 값 할당: 변수이름 = 값
n = 123
print(type(n))  # type(변수이름): 변수의 타입을 반환하는 함수.
print('n =', n)

<class 'int'>
n = 123

In [4]:
n = 3.141592
print(type(n))
print('n =', n)

<class 'float'>
n = 3.141592

## 문자열 타입

파이썬의 문자열은 작은따옴표('')와 큰따옴표("")를 모두 사용할 수 있음.

In [5]:
name = '오쌤'
print(type(name))
print('name =', name)

<class 'str'>
name = 오쌤