<a href="https://colab.research.google.com/github/JakeOh/202511_BD53/blob/main/lab_python/python11_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Function(함수)

In [2]:
result = len('hello python')
print(result)

12

In [3]:
print('hello')
print()
print('hello', 'python')

hello

hello python

*   **함수(function)**: 기능을 수행하는 코드 블록.
*   **인수(argument)**: 함수를 호출할 때 함수에게 전달하는 값.
*   **매개변수(parameter)**: 아규먼트를 저장하기 위해서 함수를 정의하는 곳에서 선언하는 변수.
*   **반환값(return value)**: 함수가 기능을 수행하고 그 결과로 함수를 호출한 곳에 되돌려 주는 값.
    *   함수에 따라서 반환값이 있는 함수도 있고, 반환값이 없는 함수도 있음.

# 함수 선언(정의)

```
def function_name([parameter1, parameter2, ...]):
    ["""문서 주석(documentation comment)"""]
    함수가 수행할 코드 블록
    [return 반환값]
```

*   반환값이 없는 함수는 return 문장을 생략하거나, `return None` 문장을 사용할 수 있음.
*   return의 의미:
    *   함수 종료.
    *   함수를 호출한 곳에 값을 반환.

In [7]:
# 함수 정의(선언)
def subtract(x, y):
    """숫자 x, y를 전달 받아서 x - y를 반환하는 함수."""
    return x - y

In [8]:
result = subtract(2, 1)  # 함수 호출(call, invoke)
print(result)

1

## 값을 반환하지 않는 함수

In [9]:
def repeat_message(msg, n):
    """
    msg를 n번 반복해서 출력.

    @param msg - 출력할 문자열.
    @param n - 반복해서 출력할 횟수. 0 또는 양의 정수.
    """
    for _ in range(n):
        print(msg)

    # return None

In [10]:
repeat_message('안녕하세요', 3)

안녕하세요
안녕하세요
안녕하세요

In [11]:
repeat_message('Hello, Python!', 5)

Hello, Python!
Hello, Python!
Hello, Python!
Hello, Python!
Hello, Python!

## 2개 이상의 값을 반환하는 함수

In [12]:
def plus_and_minus(x, y):
    """
    x + y, x - y를 반환.

    @param x - 숫자 타입(int 또는 float).
    @param y - 숫자 타입(int 또는 float).
    @return x + y, x - y
    """
    return x + y, x - y

In [13]:
a, b = plus_and_minus(1.0, 2.0)
print(f'a={a}, b={b}')

a=3.0, b=-1.0

In [15]:
result = plus_and_minus(3, 7)
print(result)  # result의 데이터 타입: tuple
print(result[0])  # tuple의 첫번째 원소
print(result[1])  # tuple의 두번째 원소

(10, -4)
10
-4

## 함수 선언과 호출 연습

In [16]:
import random

### Ex. 1

*   함수 이름: make_list
*   기능: [start, end) 범위의 정수 난수 n개를 아이템으로 갖는 리스트를 반환.
*   파라미터: start(정수), end(정수), n(0 또는 양의 정수)
*   반환값: 정수 난수들의 리스트.

In [17]:
def make_list(start, end, n):
    """
    start 이상 end 미만의 정수 난수 n개를 아이템으로 갖는 리스트를 리턴.

    @param start - int. 난수 시작 범위.
    @param end - int. 난수 종료 범위.
    @param n - 리스트의 아이템 개수(난수 개수). 0 또는 양의 정수.
    @return 정수 난수 n개를 갖는 리스트.
    """

    # numbers = []
    # for _ in range(n):
    #     numbers.append(random.randrange(start, end))
    numbers = [random.randrange(start, end) for _ in range(n)]

    return numbers

In [26]:
rand_numbers = make_list(0, 10, 5)
print(rand_numbers)

[5, 5, 1, 8, 6]

### Ex. 2

*   함수 이름: calculate_sum
*   기능: 숫자(정수 또는 실수)들을 원소로 갖는 리스트를 전달받아서, 그 리스트의 모든 원소들의 합을 리턴.
*   파라미터: array(숫자들의 리스트).
*   반환값: 리스트 array의 모든 원소들의 합계.

In [33]:
def calculate_sum(array):
    """
    숫자들의 리스트 array의 모든 원소들의 합을 리턴.

    @param array - 숫자들을 원소로 갖는 리스트.
    @return array의 모든 원소들의 합.
    """

    total = 0
    for x in array:
        total += x

    return total

In [34]:
calculate_sum([1, 2, 3])

6

In [35]:
calculate_sum(rand_numbers)

25

### Ex. 3

*   함수 이름: calculate_mean
*   기능: 숫자들을 원소로 갖는 리스트의 원소들의 평균을 리턴.
*   파라미터: array(숫자들의 리스트).
*   반환값: 리스트 array의 모든 원소들의 평균.

In [36]:
def calculate_mean(array):
    """
    숫자들의 리스트 array의 원소들의 평균을 리턴.

    @param array - 숫자들을 원소로 갖는 리스트.
    @return array 원소들의 평균.
    """

    mean = calculate_sum(array) / len(array)

    return mean

In [37]:
calculate_mean(rand_numbers)

5.0

### Ex. 4

*   함수 이름: find_min_and_max
*   기능: 숫자들을 원소로 갖는 리스트에서 최솟값과 최댓값을 찾아서 리턴.
*   파라미터: array(숫자들의 리스트).
*   반환값: 리스트 array에서 최솟값, 최댓값.

In [38]:
def find_min_and_max(array):
    """
    숫자들의 리스트 array 원소들 중에서 최솟값과 최댓값을 리턴.

    @param array - 숫자들을 저장하는 리스트.
    @return 최솟값, 최댓값
    """

    min_value = array[0]
    max_value = array[0]
    for x in array:
        if x > max_value:
            max_value = x
        if x < min_value:
            min_value = x

    return min_value, max_value

In [39]:
find_min_and_max(rand_numbers)

(1, 8)