<a href="https://colab.research.google.com/github/JakeOh/202511_BD53/blob/main/lab_python/python12_lambda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1급 객체(first-class object)로서의 함수

**함수(function)은 객체(object)다.**

*   객체(object): 숫자, 문자열, 논리값, list, tuple, dict, ...
*   객체는 변수에 할당(저장)할 수 있음.
*   객체는 함수 아규먼트로 전달할 수 있음.
*   객체는 함수가 리턴(반환)할 수 있음.
*   객체는 함수 내부에서 만들고 사용할 수 있음.

In [1]:
x = 1  # 정수 1을 변수 x에 할당. -> 객체는 변수에 할당할 수 있음.
print(x)  # 정수 객체 x를 print 함수의 아규먼트로 전달.

1

In [2]:
len('안녕')  # len() 함수가 문자열의 길이(정수 객체)를 리턴(반환)

2

In [3]:
def double(x):
    return x * 2

In [4]:
print(double(11))  # double() 함수를 호출하고, 그 리턴값을 출력.

22

In [5]:
print(double)  # double 이름의 함수 객체를 출력.

<function double at 0x7bca1cfe91c0>

## 함수를 변수에 할당

In [11]:
twice = double  # double 함수 객체를 변수에 twice에 할당(저장)

In [12]:
print(twice)

<function double at 0x7bca1cfe91c0>

In [14]:
twice(31)

62

## 아규먼트로 함수를 전달

In [18]:
def calculator(x, y, fn):
    result = fn(x, y)
    return result

In [19]:
def plus(x, y):
    return x + y

In [20]:
calculator(1, 2, plus)  # plus 함수 객체를 calculator 함수의 아규먼트로 전달.

3

In [21]:
def minus(x, y):
    return x - y

In [22]:
calculator(1, 2, minus)  # minus 함수 객체를 아규먼트로 전달.

-1

In [23]:
def is_greater(x, y):
    return x > y

In [24]:
calculator(1, 2, is_greater)

False

## 내부 함수, 함수를 리턴하는 함수

내부 함수(inner function), 지역 함수(local function):
*   함수 내부에서 선언된 함수.
*   선언된 함수(외부 함수) 안에서만 호출할 수 있음.
*   선언된 함수 바깥에서는 호출할 수 없음.
*   외부 함수의 지역 변수들(파라미터 포함)을 사용할 수 있음.

In [26]:
def make_incrementor(n):
    # 내부 함수 선언
    def add_n(x):
        return x + n

    # 함수 객체를 리턴.
    return add_n

In [27]:
add_n(100)  #> 내부(지역) 함수는 단독으로 사용할 수 없음.

NameError: name 'add_n' is not defined

In [28]:
plus_2 = make_incrementor(2)
print(plus_2)

<function make_incrementor.<locals>.add_n at 0x7bca0ba2dda0>

In [29]:
plus_2(100)

102

In [30]:
plus_10 = make_incrementor(10)
plus_10(100)

110

In [ ]:
make_incrementor(3)(100)

# 람다 표현식(Lambda Exression)

```
lambda param1, param2, ...: expression(식)
```


*   이름이 없는 함수
*   함수 이름 선언 없이, 파라미터 선언과 반환값 또는 반환식으로 함수를 정의하는 것.
*   람다 표현식은 변수에 할당할 수 있고, **함수의 아규먼트로 전달**할 수 있음.

In [32]:
# 함수 선언
# def plus_one(x):
#     return x + 1

# lambda 표현식
plus_one = lambda x: x + 1
print(plus_one)
plus_one(100)

<function <lambda> at 0x7bca0bded120>

101

In [33]:
calculator(1, 2, lambda x, y: x - y)

-1

In [34]:
calculator(1, 2, lambda x, y: x * y)

2

In [35]:
calculator(1, 2, lambda x, y: x / y)

0.5

In [36]:
calculator(1, 2, lambda x, y: x > y)

False