<a href="https://colab.research.google.com/github/JakeOh/202511_BD53/blob/main/lab_python/python17_file_ex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*   github의 [exam.csv 파일](https://github.com/JakeOh/202511_BD53/blob/main/datasets/exam.csv)을 다운로드.
*   Colab 연결(세션 활성화).
*   Colab에 Google Drive 마운트(mount, 연결).
*   개인 계정의 Google Drive에 exam.csv 파일을 업로드.
*   exam.csv 파일을 open
*   파일의 첫번째 줄은 컬럼 이름들이기 때문에, 첫번째 줄은 읽고 무시.
*   파일의 두번째 줄부터 파일 끝(EOF)까지 반복.
    *   각 줄에서 읽은 내용을 쉼표(,)로 분리한 리스트를 빈 리스트에 append.

        `[['1', '1', '50', '98', '50'], ['2', '1', '60', '97', '60'], ...]`

*   위에서 만들어진 2차원 리스트는 문자열들을 저장하고 있는 리스트이기 때문에, 리스트의 모든 값들을 정수(int)로 변환

    `[[1, 1, 50, 98, 50], [2, 1, 60, 97, 60], ...]`

*   수학 점수들로만 이루어진 1차원 리스트를 만듦.

    `[50, 60, ...]`

*   수학 점수의 최댓값, 최솟값, 평균 출력.
*   1반 학생들의 수학 점수 총점, 평균, 최댓값, 최솟값 출력

In [1]:
file_path = '/content/drive/MyDrive/Colab Notebooks/lab_python/exam.csv'

In [13]:
with open(file=file_path) as f:  # 파일을 (텍스트) 읽기 모드로 열기.
    f.readline()  # 파일에서 첫번째 줄을 읽음.

    exam = []  # 데이터들을 저장하기 위한 빈 리스트.
    for line in f:  # 파일의 두번째 줄부터 마지막까지 한 줄씩 읽음.
        exam.append(line.strip().split(','))

    # list comprehension을 사용:
    # exam = [line.strip().split(',') for line in f]

    print(exam)

[['1', '1', '50', '98', '50'], ['2', '1', '60', '97', '60'], ['3', '1', '45', '86', '78'], ['4', '1', '30', '98', '58'], ['5', '2', '25', '80', '65'], ['6', '2', '50', '89', '98'], ['7', '2', '80', '90', '45'], ['8', '2', '90', '78', '25'], ['9', '3', '20', '98', '15'], ['10', '3', '50', '98', '45'], ['11', '3', '65', '65', '65'], ['12', '3', '45', '85', '32'], ['13', '4', '46', '98', '65'], ['14', '4', '48', '87', '12'], ['15', '4', '75', '56', '78'], ['16', '4', '58', '98', '65'], ['17', '5', '65', '68', '98'], ['18', '5', '80', '78', '90'], ['19', '5', '89', '68', '87'], ['20', '5', '78', '83', '58']]

In [17]:
data = []  # 학생 20명의 데이터를 저장하기 위한 빈 리스트
for row in exam:
    temp = []  # 학생 1명의 id, class, math, english, science 값을 저장할 빈 리스트.
    for x in row:
        temp.append(int(x))
    data.append(temp)

# list comprehension:
# data = [[int(x) for x in row] for row in exam]

print(data)

[[1, 1, 50, 98, 50], [2, 1, 60, 97, 60], [3, 1, 45, 86, 78], [4, 1, 30, 98, 58], [5, 2, 25, 80, 65], [6, 2, 50, 89, 98], [7, 2, 80, 90, 45], [8, 2, 90, 78, 25], [9, 3, 20, 98, 15], [10, 3, 50, 98, 45], [11, 3, 65, 65, 65], [12, 3, 45, 85, 32], [13, 4, 46, 98, 65], [14, 4, 48, 87, 12], [15, 4, 75, 56, 78], [16, 4, 58, 98, 65], [17, 5, 65, 68, 98], [18, 5, 80, 78, 90], [19, 5, 89, 68, 87], [20, 5, 78, 83, 58]]

In [37]:
# math = []  # 수학 점수들만 저장하기 위한 빈 리스트.
# for row in data:  # 2차원 리스트에서 원소(1차원 리스트)를 한 개씩 꺼내면서 반복.
#     math.append(row[2])  # 수학 점수를 math 리스트에 추가.

math = [row[2] for row in data]

print(math)

[50, 60, 45, 30, 25, 50, 80, 90, 20, 50, 65, 45, 46, 48, 75, 58, 65, 80, 89, 78]

In [38]:
print('수학 최댓값:', max(math))
print('수학 최솟값:', min(math))
print('수학 평균:', sum(math) / len(math))

수학 최댓값: 90
수학 최솟값: 20
수학 평균: 57.45

In [41]:
# math_class1 = []  # 1반 학생들의 수학 점수를 저장하기 위한 빈 리스트.
# for row in data:
#     if (row[1] == 1):  # class 값이 1이면
#         math_class1.append(row[2])

math_class1 = [row[2] for row in data if row[1] == 1]

print(math_class1)

[50, 60, 45, 30]

In [42]:
print('1반 수학 총점:', sum(math_class1))
print('1반 수학 평균:', sum(math_class1) / len(math_class1))
print('1반 수학 최댓값:', max(math_class1))
print('1반 수학 최솟값:', min(math_class1))

1반 수학 총점: 185
1반 수학 평균: 46.25
1반 수학 최댓값: 60
1반 수학 최솟값: 30

In [ ]:
# 1반 ~ 5반 수학 점수 평균을 모두 출력하세요.