<a href="https://colab.research.google.com/github/JakeOh/202511_BD53/blob/main/lab_python/python12_lambda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1급 객체(first-class object)로서의 함수

**함수(function)은 객체(object)다.**

*   객체(object): 숫자, 문자열, 논리값, list, tuple, dict, ...
*   객체는 변수에 할당(저장)할 수 있음.
*   객체는 함수 아규먼트로 전달할 수 있음.
*   객체는 함수가 리턴(반환)할 수 있음.
*   객체는 함수 내부에서 만들고 사용할 수 있음.

In [1]:
x = 1  # 정수 1을 변수 x에 할당. -> 객체는 변수에 할당할 수 있음.
print(x)  # 정수 객체 x를 print 함수의 아규먼트로 전달.

1

In [2]:
len('안녕')  # len() 함수가 문자열의 길이(정수 객체)를 리턴(반환)

2

In [3]:
def double(x):
    return x * 2

In [4]:
print(double(11))  # double() 함수를 호출하고, 그 리턴값을 출력.

22

In [5]:
print(double)  # double 이름의 함수 객체를 출력.

<function double at 0x7bca1cfe91c0>

## 함수를 변수에 할당

In [11]:
twice = double  # double 함수 객체를 변수에 twice에 할당(저장)

In [12]:
print(twice)

<function double at 0x7bca1cfe91c0>

In [14]:
twice(31)

62

## 아규먼트로 함수를 전달

In [18]:
def calculator(x, y, fn):
    result = fn(x, y)
    return result

In [19]:
def plus(x, y):
    return x + y

In [20]:
calculator(1, 2, plus)  # plus 함수 객체를 calculator 함수의 아규먼트로 전달.

3

In [21]:
def minus(x, y):
    return x - y

In [22]:
calculator(1, 2, minus)  # minus 함수 객체를 아규먼트로 전달.

-1

In [23]:
def is_greater(x, y):
    return x > y

In [24]:
calculator(1, 2, is_greater)

False

## 내부 함수, 함수를 리턴하는 함수

내부 함수(inner function), 지역 함수(local function):
*   함수 내부에서 선언된 함수.
*   선언된 함수(외부 함수) 안에서만 호출할 수 있음.
*   선언된 함수 바깥에서는 호출할 수 없음.
*   외부 함수의 지역 변수들(파라미터 포함)을 사용할 수 있음.

In [26]:
def make_incrementor(n):
    # 내부 함수 선언
    def add_n(x):
        return x + n

    # 함수 객체를 리턴.
    return add_n

In [27]:
add_n(100)  #> 내부(지역) 함수는 단독으로 사용할 수 없음.

NameError: name 'add_n' is not defined

In [28]:
plus_2 = make_incrementor(2)
print(plus_2)

<function make_incrementor.<locals>.add_n at 0x7bca0ba2dda0>

In [29]:
plus_2(100)

102

In [30]:
plus_10 = make_incrementor(10)
plus_10(100)

110

In [ ]:
make_incrementor(3)(100)

# 람다 표현식(Lambda Exression)

```
lambda param1, param2, ...: expression(식)
```


*   이름이 없는 함수
*   함수 이름 선언 없이, 파라미터 선언과 반환값 또는 반환식으로 함수를 정의하는 것.
*   람다 표현식은 변수에 할당할 수 있고, **함수의 아규먼트로 전달**할 수 있음.

In [32]:
# 함수 선언
# def plus_one(x):
#     return x + 1

# lambda 표현식
plus_one = lambda x: x + 1
print(plus_one)
plus_one(100)

<function <lambda> at 0x7bca0bded120>

101

In [33]:
calculator(1, 2, lambda x, y: x - y)

-1

In [34]:
calculator(1, 2, lambda x, y: x * y)

2

In [35]:
calculator(1, 2, lambda x, y: x / y)

0.5

In [36]:
calculator(1, 2, lambda x, y: x > y)

False

## lambda를 아규먼트로 전달하는 예

*   filter: 조건을 만족하는 아이템들을 찾기. `filter(function, iterable)`
    *   iterable 안에 있는 원소들을 하나씩 순서대로 function의 아규먼트로 전달하면서 function을 호출하고, function이 True를 리턴하는 원소들만 선택.
    *   function은 아규먼트가 1개이고, True/False (bool)를 리턴하는 함수.
        *   `lambda x: True/False를 리턴하는 식`
*   map: 아이템들을 일정한 규칙에 따라서 다른 값으로 변환(매핑). `map(function, iterable)`
    *   iterable 안에 있는 원소들을 하나씩 순서대로 function의 아규먼트로 전달하면서 function을 호출하고, function이 리턴하는 값으로 매핑 값을 만듦.
    *   function은 아규먼트가 1개이고, 리턴값이 있는 함수.
        *   `lambda x: 리턴값(식)`

In [37]:
import random

In [38]:
numbers = [random.randrange(100) for _ in range(10)]
numbers

[84, 20, 77, 32, 95, 17, 21, 58, 88, 10]

In [39]:
# numbers의 원소들 중에서 짝수들만 필터링
[x for x in numbers if x % 2 == 0]

[84, 20, 32, 58, 88, 10]

In [42]:
result = filter(lambda x: x % 2 == 0, numbers)
list(result)  # filter의 결과를 list 타입으로 변환.

[84, 20, 32, 58, 88, 10]

In [43]:
# 홀수들만 필터링
result = filter(lambda x: x % 2 == 1, numbers)
list(result)

[77, 95, 17, 21]

In [44]:
# number의 원소가 짝수이면 'even', 홀수이면 'odd'로 매핑.
['even' if x % 2 == 0 else 'odd' for x in numbers]

['even', 'even', 'odd', 'even', 'odd', 'odd', 'odd', 'even', 'even', 'even']

In [46]:
result = map(lambda x: 'even' if x % 2 == 0 else 'odd', numbers)
list(result)  # map의 결과를 list 타입으로 변환.

('even', 'even', 'odd', 'even', 'odd', 'odd', 'odd', 'even', 'even', 'even')

numbers의 원소가 0 ~ 19이면 'junior', 20 ~ 59이면 'senior', 60 이상이면 'veteran' 매핑.

In [52]:
age = 29

# if age < 20:
#     category = 'junior'
# elif age < 60:
#     category = 'senior'
# else:
#     category = 'veteran'

if age < 20:
    category = 'junior'
else:
    if age < 60:
        category = 'senior'
    else:
        category = 'veteran'

print(category)

senior

In [55]:
age = 79
category = 'junior' if age < 20 else ('senior' if age < 60 else 'veteran')
print(category)

veteran

In [56]:
result = map(lambda x: 'junior' if x < 20 else ('senior' if x < 60 else 'veteran'), numbers)
list(result)

['veteran',
 'senior',
 'veteran',
 'senior',
 'veteran',
 'junior',
 'senior',
 'senior',
 'veteran',
 'junior']

In [57]:
['junior' if x < 20 else ('senior' if x < 60 else 'veteran') for x in numbers]

['veteran',
 'senior',
 'veteran',
 'senior',
 'veteran',
 'junior',
 'senior',
 'senior',
 'veteran',
 'junior']

In [59]:
def age_to_category(age):
    if age < 20:
        category = 'junior'
    elif age < 60:
        category = 'senior'
    else:
        category = 'veteran'

    return category

In [69]:
result = map(age_to_category, numbers)
print(list(result))

['veteran', 'senior', 'veteran', 'senior', 'veteran', 'junior', 'senior', 'senior', 'veteran', 'junior']

## filter 함수 구현

In [70]:
def my_filter(iterable, func):
    """
    필터링. iterable의 원소들 중에서 func의 아규먼트로 전달했을 때
    func의 리턴값이 True가 되는 원소들로 이루어진 리스트를 리턴.

    @param iterable - list 또는 tuple.
    @param func - 아규먼트가 1개이고 True 또는 False를 리턴하는 함수.
    @return 필터링 결과를 저장한 리스트(list).
    """

    result = []  # 필터링한(조건을 만족하는) 아이템들을 저장하기 위한 리스트.
    for x in iterable:  # iterable의 원소들을 처음부터 끝까지 순서대로 반복.
        if func(x):  # iterable의 원소를 func의 아규먼트로 전달했을 때 리턴값이 True이면
            result.append(x)
    # result = [x for x in iterable if func(x)]

    return result

In [71]:
numbers = [random.randrange(-10, 11) for _ in range(10)]
print(numbers)

[6, 3, 5, -2, -8, -4, 7, -2, 3, 3]

In [72]:
# numbers에서 짝수들만 필터링
my_filter(numbers, lambda x: x % 2 == 0)

[6, -2, -8, -4, -2]

In [73]:
# numbers에서 양수들만 필터링
my_filter(numbers, lambda x: x > 0)

[6, 3, 5, 7, 3, 3]

In [74]:
languages = ['SQL', 'Python', 'R', 'JavaScript']

# languages에서 5글자 이상인 문자열들만 필터링
my_filter(languages, lambda x: len(x) >= 5)

['Python', 'JavaScript']

## map 함수 구현

In [75]:
def my_map(iterable, func):
    """
    매핑. iterable의 원소를 func의 아규먼트로 전달해서 호출했을 때 그 리턴값으로 매핑.

    @param iterable - list 또는 tuple.
    @param func - 아규먼트가 1개이고, 리턴값이 있는 함수.
    @return 매핑된 값들을 갖는 리스트(list).
    """
    # result = []
    # for x in iterable:
    #     result.append(func(x))
    result = [func(x) for x in iterable]

    return result

In [77]:
numbers = [random.randrange(10) for _ in range(10)]
print(numbers)

# numbers의 원소가 짝수이면 'even', 홀수이면 'odd'로 매핑.
my_map(numbers, lambda x: 'odd' if x % 2 else 'even')

[2, 5, 0, 4, 1, 9, 5, 0, 7, 7]

['even', 'odd', 'even', 'even', 'odd', 'odd', 'odd', 'even', 'odd', 'odd']

In [78]:
languages = ['SQL', 'Python', 'R', 'JavaScript', 'Java']

# languages의 문자열을 그 문자열의 길이로 매핑.
my_map(languages, lambda x: len(x))

[3, 6, 1, 10, 4]